[2014-10-23 08:54] svnlto opened #4 "remove wrong username from disqus"
https://github.com/zoepage/hoodie-website-css/blob/gh-pages/_includes/disqus.html#L4

;)

[2014-10-23 10:57] verpixelt commented on #4
Yep, thanks for pointing out ;)

[2014-10-24 09:17] svnlto opened #5 "feature: build version 2 of the website using harp.js"
post launch I'd like to migrate the website to http://harpjs.com/. It's a jekyll equivalent without the ruby dependencies, has preprocessors built-in and fit's way better into the stack.

[2014-10-26 13:43] verpixelt opened #7 "Images for landing page"
We need 3 suitable images for the landing page(features, contribute & merchandise).
- Good contrast between image and type(white/orange)
- blurred!?

Please resize your browser window to see how the boxes react.

[2014-10-26 13:50] verpixelt opened #8 "Link highlighting lilac and gray"
The link highlighting for lilac and gray is not recognisable. (link highlighting for all color schemes to stay consistent) Please put a bit more effort into it instead of simply use text-decoration: underline:

[2014-10-26 13:52] verpixelt opened #9 "Repository transfer"
This repo has to be transfered to the hoodiehq organisation.

[2014-10-26 13:53] verpixelt opened #10 "Main navigation responsive"
The main (and sub)navigation has to be adjusted to response correctly to smaller view ports.

[2014-10-26 13:56] verpixelt opened #11 "Styling table"
The sponsoring table on /sponsoring has to be styled(also responsive).
![sponsoring-table](https://cloud.githubusercontent.com/assets/1640079/4783117/da11d132-5d18-11e4-94ab-c205779cd47d.png)

[2014-10-26 14:00] verpixelt opened #12 "jQuery implementation"
We had a issue where it wasn't possible to run the script(for the different texts) on **/irc** without including jQuery in the head. What's the status?

[2014-10-26 14:02] verpixelt opened #13 "Replace image icons with SVG"
Use the SVG defs include for multiple SVG on one page or single inline SVGs.

[2014-10-26 14:10] verpixelt opened #14 "Changed footer"
During the adjustments for the responsive behaviour I styled the footer navigation a bit differently than we had it before. Can you please have a look at it and tell me if that's okay that way.

[2014-10-26 14:20] verpixelt opened #15 "Responsive behaviour /events"
The /events page has to be adjusted to behave correctly on smaller view ports.

[2014-10-26 14:21] verpixelt opened #16 "Responsive adjustments bio module"
Has to be adjusted to behave correctly on smaller view ports.

[2014-10-26 14:31] verpixelt opened #17 "Hover effect /community"
The hover effect for the **/community** images has to be finalised.
![communtiy-images](https://cloud.githubusercontent.com/assets/1640079/4783213/021e8478-5d1d-11e4-9de2-7e5a21395b05.png)

[2014-10-26 14:35] verpixelt opened #18 "Favicons"
The favicons need to be added.

[2014-10-26 15:16] espy commented on #15
Fixed in 0237beaa

[2014-10-26 15:20] espy commented on #18
Done in b6530dcbd

[2014-10-26 15:20] #18 closed, assigned to nobody

[2014-10-26 15:22] verpixelt commented on #15
The event page is horizontally scrollable.
![x-scrollable](https://cloud.githubusercontent.com/assets/1640079/4783370/d86234de-5d23-11e4-9b1c-c37b6729c76e.png)

[2014-10-26 15:30] espy commented on #15
Haha, good catch :D

The reason was fun:

![bildschirmfoto 2014-10-26 um 16 23 45](https://cloud.githubusercontent.com/assets/391124/4783381/545fa2ec-5d24-11e4-8bf4-07083ccb4282.png)

Fixed it both in the source spreadsheet and in 5917c49fc4.

[2014-10-26 15:30] #15 closed, assigned to nobody

[2014-10-26 16:15] #17 closed, assigned to nobody

[2014-10-26 16:15] espy commented on #17
Also fixed responsiveness in b424bbacfd06b896408f766e7606c0cc6fb3c1f3

[2014-10-26 16:31] verpixelt opened #19 "Navigaion on smaller screens"
This is my proposal for the navigation(full screen layer) on smaller screens(< 55em/880px) after you've hit the hamburger icon.
![nav-mobile](https://cloud.githubusercontent.com/assets/1640079/4783602/8e96fb1e-5d2d-11e4-9b7c-44071aa3115d.png)

[2014-10-26 16:43] espy commented on #7
There's one more thing you can do to make text more readable on an image: a very subtle and wide text-shadow (this one is for white text):
`text-shadow: 0px 0px 100px rgba(0, 0, 0, 0.4);`

This works for dark text, too, with a white shadow, it's basically just an overlay that increases contrast between text and photo.

Might be worth a try.

[2014-10-26 17:01] verpixelt commented on #19
I've published a branch with this draft (no functionality included). Do not merge!

[2014-10-26 20:35] lenareinhard commented on #14
completely fine for me

[2014-10-26 20:35] #14 closed, assigned to nobody

[2014-10-27 08:19] zoepage commented on #11
i can do that. is it already responsive?

[2014-10-27 08:19] zoepage commented on #12
My fault. I thought you said FAQ and there was no such thing ;)
I'll take care of it!

[2014-10-27 09:37] verpixelt commented on #11
Nope it isn't. Would be great if you can do that, too. Making the table content x-scrollable should be enough I guess.

[2014-10-27 11:17] zoepage commented on #11
check. will do!

[2014-10-27 11:18] zoepage commented on #19
i think it looks amazing! <3

[2014-10-27 11:18] zoepage commented on #16
will you do it? do you need any help with input, feedback etc?

[2014-10-27 11:19] zoepage commented on #10
do you want to add your design from #19?
and i'll add the functionality later?

[2014-10-27 11:20] zoepage commented on #9
will do this tonight.

[2014-10-27 11:20] zoepage commented on #8
- aside and blue

[2014-10-27 11:20] zoepage commented on #7
did @ffffux see the new ones already? :)

[2014-10-27 11:23] zoepage opened #20 "repo for css + clean up"
- [x] set repo for website-css
- [ ] clean it up
- [ ] add comments to code
- [ ] make documentation up-to-date

[2014-10-27 11:35] lenareinhard commented on #7
no, but don't mind

[2014-10-27 11:58] zoepage commented on #11
resp: done down to 400px.
styling done...

[2014-10-27 11:58] #11 closed, assigned to zoepage

[2014-10-27 12:05] zoepage commented on #8
we need to stick with underline atm (bc of time issues), but can definitely do something much cooler later!

[2014-10-27 12:26] #12 closed, assigned to zoepage

[2014-10-27 13:16] zoepage commented on #7
i tested @espy approach... it looks better. would leave it that way and push it to the backlog.

[2014-10-27 13:16] #7 closed, assigned to nobody

[2014-10-27 13:53] verpixelt commented on #13
Changed the resources on the contribute page but ran into an issue with Safari which isn't displaying the SVGs referenced with the <use> - element.

[2014-10-27 20:39] verpixelt commented on #10
Jep, perfect! Will do that. Should be finalised tomorrow evening.

[2014-10-28 15:07] verpixelt opened #21 "Serving Fira Sans"
What's the actual idea for serving Fira Sans?
I've read the following article: http://bdadam.com/blog/loading-webfonts-with-high-performance.html which explains a solution of how to serve the font base64 encoded (inline in the head). The approach sounds pretty interesting.

[2014-10-28 19:35] verpixelt commented on #13
Solved the Safari issue. FYI Safari now has the bug which were there before in Chrome. You have to include the SVG `defs` elements before the opening `<body>` tag. If you include it before the closing tag, Safari won't display the SVGs referenced with `<use>`.  At the moment the size isn't display correctly because of the none prefixed transform. Will be fixed with the hoodie.min.pref.css.

[2014-10-28 20:02] verpixelt opened #22 "Hood.ie friends SVG logos"
Mail the hood.ie friends to request their logos as SVG.

[2014-10-28 20:19] #13 closed, assigned to nobody

[2014-10-28 22:05] verpixelt commented on #16
@espy has already done a good load of work. I've refactored the code. Job done.
@espy next time please use our already defined breakpoints and take care of a consistent coding style.

[2014-10-28 22:05] #16 closed, assigned to nobody

[2014-10-28 22:50] verpixelt opened #23 "icheck"
Do I get it right, that we use the icheck feature just on /events?

[2014-10-28 23:48] verpixelt opened #24 "Create Github issues for post launch task"
Please add all post launch tasks as separat Github issues(at least the front end ones).

[2014-10-29 00:00] verpixelt opened #25 "Replace all logos with SVGs"
We could consider to change the cut-off logos at the top and bottom of each page into SVGs.

[2014-10-29 00:02] verpixelt opened #26 "Add manifest for images and fonts"

[2014-10-29 00:03] verpixelt opened #27 "Add / style syntax highlighting"

[2014-10-29 00:03] verpixelt opened #28 "Make Hood.ie Accessible"

[2014-10-29 00:04] verpixelt opened #29 "Style API"

[2014-10-29 00:06] verpixelt opened #30 "HTML structure - HTML5 outline"
Restructure the HTML templates according to the HTML5 outline. (a lot of them are already done)

[2014-10-29 00:08] verpixelt opened #31 "Implementation of responsive image solution"
Add a responsive image solution.

[2014-10-29 00:09] verpixelt opened #32 "Improve and finalise documentation (readme)"

[2014-10-29 00:10] verpixelt opened #33 "Change /dist folder name to /src"

[2014-10-29 00:11] verpixelt opened #34 "Add illustrations and /zoo"

[2014-10-29 00:14] verpixelt opened #35 "Finalise build tasks"
Add:
- [ ] usemin
- [x] uglify

~~cssmin~~
~~concat~~

to the Grunt workflow.

[2014-10-29 00:36] verpixelt opened #36 "Add app images on /intro"
Replace good ol' cow images (applications based on hoodie) with the real app images.

[2014-10-29 00:48] verpixelt opened #37 "Optimisation of the critical rendering path"

[2014-10-29 07:19] espy commented on #23
At the moment, yes. But the checkboxes exist in all colours, for the future.

[2014-10-29 20:45] verpixelt commented on #10
I've added the main navigation changes with the last commits. You can see it's active state on /contribute.
I've styled it with the class `"its-active"` on `section class="nav"`. I still have to add a menu and close button but you could already start to develop the missing parts:
- [x] add and remove class on click
- [x] prevent page from scrolling when navigation layer is open
- [ ] finalise the

[2014-10-29 22:59] verpixelt opened #38 "Add pagination to blog post list"

[2014-10-30 10:13] lenareinhard opened #39 "replace dog picture on /intro with new dog"

[2014-10-30 10:15] lenareinhard opened #40 "/zoo: add first animal (pic + story)"
- add "coming soon" for other animals

[2014-10-30 10:32] lenareinhard opened #41 "Tasks for Club Launch"
- [ ] add to Footer and everywhere
- [ ] needs special navigation (incl. http://hood.ie/… for all links)

[2014-10-30 10:33] lenareinhard opened #42 "replace showcase pictures with screenshots"
I'd need screenshots of the following apps for the "Apps & Showcases" Section (replacing all "sample.jpg" photos):
- [x] https://github.com/caolan/hoodie-drawing -> pinged Caolan
- [x] https://github.com/hoodiehq/example-mapchat
- [x] https://github.com/zoepage/codequiz -> pinged Elmar
- [x] https://github.com/snnd/todomvc-on-hoodie -> pinged Dennis
- [x] https://github.com/boennemann/zentodone ->

[2014-10-30 10:33] lenareinhard opened #43 "check uploaded presentations on /contribute"

[2014-10-30 14:43] lenareinhard opened #44 "Add Workshop + workshop materials to /contribute"
- Google Doc
- Tutorials
- …

[2014-10-31 08:31] verpixelt opened #45 "Set up coding guidelines"
- [x] HTML
- [x] Sass
- [ ] Javascript

[2014-10-31 10:22] lenareinhard opened #46 "make list of old and new blog post urls for redirect + send to Jan"

[2014-10-31 10:31] lenareinhard opened #47 "set up license agreement with Carolina + send out to her"

[2014-10-31 16:54] lenareinhard opened #48 "/friends: add Thirdwave"

[2014-10-31 16:54] #48 closed, assigned to lenareinhard

[2014-10-31 17:12] lenareinhard commented on #34
I have a suggestion … idea: launch /zoo, but only with the first animal (dog). add "coming soon bla" below (not necessarily literally). And then we can add the other animals over the time.
(thing is: the dog will be in the launch anyway, as it's on the index page, and so it doesn't stand there without any context)
(this would make parts of this issue pre-launch)

[2014-11-01 13:16] lenareinhard opened #49 "write launch blog post"

[2014-11-01 13:29] lenareinhard opened #50 "fix broken blog posts"
- [x] http://blog.hood.ie/2014/01/how-is-hoodie-funded/
- [x] http://blog.hood.ie/2014/05/welcome-to-the-neighbourhoodie/
- [x] http://blog.hood.ie/2013/11/say-hello-to-offline-first
- [x] http://blog.hood.ie/2014/02/non-coders-in-open-source-projects-or-on-aliens-confessions-of-a-non-coder-1
- [x] http://blog.hood.ie/2014/02/confessions-of-an-alien-or-the-ultimate-guide-to-attracting-non-coding-c

[2014-11-01 14:38] lenareinhard commented on #40
only pic missing (will replace as soon as Caro sent them)
(file /dist/content_img/animals/low-profile-dog.png replace with new picture)

[2014-11-02 13:39] verpixelt commented on #50
- [ ] Replace image resources

[2014-11-02 13:49] lenareinhard opened #51 "Document blog handling"

[2014-11-02 13:49] lenareinhard commented on #51
added to README.md

[2014-11-02 13:49] #51 closed, assigned to lenareinhard

[2014-11-02 13:50] lenareinhard commented on #43
fixed (removed fonts from archives, added READMEs)

[2014-11-02 13:50] #43 closed, assigned to nobody

[2014-11-02 13:50] lenareinhard commented on #39
will be done in #40

[2014-11-02 13:50] #39 closed, assigned to nobody

[2014-11-02 14:29] lenareinhard opened #52 "add small border to all images"
(just so pics like this one /blog/images/201411/hoodie-screenshot-relaunch.png are displayed properly :) )

[2014-11-02 14:46] #52 closed, assigned to verpixelt

[2014-11-02 14:49] #23 closed, assigned to nobody

[2014-11-02 22:42] verpixelt commented on #10
I've added the menu button. It has a toggled state with the class `.is-open`.
- [x] button class has to be added when menu is open

[2014-11-02 22:44] verpixelt commented on #19
I've added a breakpoint which hides the navigation below 64em (1024px). Navigation is visible again, when the menu active class is set.

[2014-11-02 22:44] #19 closed, assigned to nobody

[2014-11-03 10:28] zoepage commented on #33
already done in the hoodie-css and also fixed the paths in the grunt tasks

[2014-11-03 10:28] #33 closed, assigned to nobody

[2014-11-03 10:28] zoepage commented on #29
What does this mean?

[2014-11-03 10:30] zoepage commented on #10
awesome, will add this asap

[2014-11-03 10:39] verpixelt commented on #29
I have no freakin clue. Was something I've copied from the TitanPad.

[2014-11-03 11:49] zoepage commented on #29
cc @espy ?

[2014-11-03 11:57] zoepage commented on #30
How far are we on this?

[2014-11-03 12:13] verpixelt commented on #30
Most of the pages are done. I have to double check it again and find the missing ones.

[2014-11-03 12:35] zoepage commented on #30
it would be great, if you could write them down here, so we can fix them, if we have time <3

[2014-11-03 12:54] verpixelt commented on #30
Will do that asap (or fix it directly on my own).

[2014-11-03 13:03] lenareinhard commented on #34
see #40, I'm on it

[2014-11-03 13:03] #34 closed, assigned to nobody

[2014-11-03 13:03] lenareinhard commented on #36
see #42, I'm on it

[2014-11-03 13:03] #36 closed, assigned to nobody

[2014-11-03 13:47] lenareinhard opened #53 "/sponsoring: felder unten auf der seite stylen"

[2014-11-04 07:40] verpixelt commented on #50
Will fix that tonight.

[2014-11-04 07:41] verpixelt commented on #38
Will fix that tonight.

[2014-11-04 07:46] verpixelt commented on #8
I've tried something last night (last commit not yet copied into the hoodie-css repo) which works pretty well except for Firefox. I will take a look into it after work.

[2014-11-04 08:41] zoepage commented on #53
cc @espy

[2014-11-04 11:17] lenareinhard commented on #46
sent on monday, Nov 3rd

[2014-11-04 11:17] #46 closed, assigned to lenareinhard

[2014-11-04 11:36] lenareinhard opened #54 "img class="no-border" still displays borders"
Firefox (latest version)
![screen shot 2014-11-04 at 12 35 06](https://cloud.githubusercontent.com/assets/3472712/4898982/b039f312-6416-11e4-8a3c-c215c39308a0.png)

Chrome (yes, with the link display :) ) (latest version)
![screen shot 2014-11-04 at 12 35 49](https://cloud.githubusercontent.com/assets/3472712/4898986/bfa16574-6416-11e4-9848-b259e91f852f.png)

[2014-11-04 12:10] verpixelt commented on #54
I will take a look at it, tonight. (btw. your type doesn't look that fat anymore :P)

[2014-11-04 13:04] lenareinhard commented on #40
done. dog (we have 3 variations) is now on:
- dog 1 (sitting): index.html, /intro
- dog 2 (sniffing): /initiatives
- dog 3 (waving): /about

[2014-11-04 13:04] #40 closed, assigned to nobody

[2014-11-04 13:32] #47 closed, assigned to lenareinhard

[2014-11-04 13:59] lenareinhard opened #55 "dog setup in spreadshirt shop"
done: hoodiehq.spreadshirt.de

[2014-11-04 13:59] #55 closed, assigned to lenareinhard

[2014-11-04 14:23] lenareinhard opened #56 "Tasks for Docs Launch"
- [x] comment in docs.hood.ie in all _includes/header… files again (commented out atm)
- [x] same for footer.html
- [x] index.html (front page): github.com/hoodiehq/documentation ersetzen
- [x] _config.yml: add '- title: Documentation
  url: 'http://docs.hood.ie' ' to sub-navigation-get-help

[2014-11-04 15:41] verpixelt commented on #56
What prevents us from including docs into the initial launch?

[2014-11-04 15:42] lenareinhard commented on #56
@zoepage
[edit: that wasn't necessarily the direct answer to your question ;) ]

[2014-11-04 17:22] lenareinhard commented on #56
ok, das ist noch offen:
Hier die Randinfos (copy-paste aus einer Mail von Ola an Stephan):
CSS Framework:
https://github.com/zoepage/hoodie-css/
// In der Readme steht drin, wie es zu benutzen ist.

View:
https://github.com/zoepage/hoodie-website-css/blob/gh-pages/doku.html
Hier ist der Content noch nicht gestyled. Aber das kannst du einfach so nehmen, wie es im Repo ist, nehmen. Wenn du da noch H

[2014-11-04 17:54] verpixelt commented on #54
Fixed.
![fix-54](https://cloud.githubusercontent.com/assets/1640079/4904981/e29de96e-644b-11e4-99bf-49c91e58de20.png)

[2014-11-04 17:54] #54 closed, assigned to verpixelt

[2014-11-04 18:48] verpixelt commented on #38
Fixed in commit 811d6e27ae3aa38a2be4cedcaf6b2023dfcd784d

[2014-11-04 18:48] #38 closed, assigned to verpixelt

[2014-11-04 18:53] verpixelt opened #57 "Fix includes"
Something went wrong with your last commits ecbf6cdc769f4600933a93f34d25fa63e57450b6. I've applied a hotfix 9f8e1e2d408723e6631c47f631294829fbb470ef de406eadef7c8d40262164c63d7b82423dede7c4 but these files are just empty to prevent Jekyll from aborting its build tasks.

[2014-11-04 19:26] verpixelt commented on #50
Optimised as far as possible at this stage.

[2014-11-04 19:26] #50 closed, assigned to verpixelt

[2014-11-04 19:45] zoepage commented on #57
cc @espy

[2014-11-04 20:33] verpixelt commented on #8
I found a fix for the FF problem. Please @zoepage @ffffux @espy if you spot links where the underline appears more as a "strike-through" shout out and I'll fix it.

[2014-11-04 20:33] #8 closed, assigned to verpixelt

[2014-11-04 20:53] zoepage opened #58 "build failed"
![bildschirmfoto 2014-11-04 um 21 52 57](https://cloud.githubusercontent.com/assets/562354/4907822/9e0243fe-6464-11e4-8e75-91d212a638ca.png)
can't compile

cc @verpixelt

[2014-11-04 20:55] verpixelt commented on #58
Please update I've fixed that with c1875cf12b29701321ed2fa0d19ae5d715b6c024 3h ago.

[2014-11-04 20:55] #58 closed, assigned to nobody

[2014-11-04 21:00] zoepage commented on #58
I pulled 20 min ago

[2014-11-04 21:02] verpixelt commented on #58
I removed all silent classes right now. Pull and try it again. Should work now.

[2014-11-04 21:04] zoepage commented on #58
now it works... so is this an issue...
![bildschirmfoto 2014-11-04 um 22 04 00](https://cloud.githubusercontent.com/assets/562354/4907987/27efec6e-6466-11e4-848b-419455e62f2d.png)

[2014-11-04 21:07] verpixelt commented on #58
This is caused by the missing nav elements -_- Doesn't look nice but I have no good idea right now how to avoid that.

[2014-11-04 21:08] zoepage commented on #58
so, it doesn't look like a good idea to work on the nav atm? :/

[2014-11-04 21:10] verpixelt commented on #58
0_o the amount of links shouldn't hinder you to implement the missing functionality.

[2014-11-04 21:22] zoepage commented on #58
i didn't ment the navigation. i ment the 7px padding on the top and left. there are also many bugs atm. that's why I asked.

[2014-11-04 21:25] verpixelt commented on #58
![browser](https://cloud.githubusercontent.com/assets/1640079/4908345/1a495138-6469-11e4-905b-b8dfac7b64f9.png)
Can't see any of them.

[2014-11-04 22:28] verpixelt commented on #58
There was an issue with the width of the logo. I'm sorry for that. Fixed a FF bug in the blog section and created the one in the main nav. Pushed a fix for both now.

[2014-11-04 22:51] lenareinhard opened #59 "automate cross-repo CSS Changes"
affected:
- Club
- FAQ
- Docs

[2014-11-04 22:56] lenareinhard opened #60 "create own sub-navigation for /initiatives"
items to be displayed:
- /initiatives#offline-first Offline First
- /initiatives#nobackend noBackend
- /initiatives#noncoders Non-coding People
- /initiatives#dreamcode Dreamcode
- /initiatives#tools Tools

[2014-11-04 22:57] lenareinhard opened #61 "finish Club"
(task mainly for Alex, Jan, Lena, to be coordinated; see also #41 for club launch

[2014-11-04 22:58] lenareinhard opened #62 "Write + add further animal stories + animal pics"

[2014-11-04 22:58] lenareinhard commented on #24
done, see #59 #53 #60 #61 #62 and other tasks with post-launch label.

[2014-11-04 22:58] #24 closed, assigned to nobody

[2014-11-04 23:23] verpixelt commented on #60
Done.
![initiatives](https://cloud.githubusercontent.com/assets/1640079/4909997/7d7dd688-6479-11e4-9752-9e04edf3b422.png)

[2014-11-04 23:38] verpixelt commented on #4
I've created a new site on Disqus called "hood.ie"(respectively hoodie-blog). At the moment I'm the primary moderator but I'm able to invite additional moderators and change the primary acc as well(I just need the Disqus username). I've also swapped the variable in the Disqus snippet.
![disqus](https://cloud.githubusercontent.com/assets/1640079/4910155/9f8535da-647b-11e4-9aa4-0ce2fa8d4abf.png)

[2014-11-04 23:44] lenareinhard commented on #4
thank you!
my Disqus handle is https://disqus.com/Frau_Fuchs

[2014-11-04 23:46] lenareinhard commented on #42
postponed to post-launch

[2014-11-04 23:53] verpixelt commented on #4
git push --force whoop whoop :palm_tree:
I can't simply change the primary acc. Therefor I have to contact the Disqus support. In order to do that I need your e-mail Adress – "email address of new primary moderator". ([removed] I guess!?)

[2014-11-04 23:59] lenareinhard commented on #4
@verpixelt nope, [removed](ping me when you got that, then I'll remove the addresses from the comments before the repo goes public)
thank you!

[2014-11-05 00:03] lenareinhard commented on #60
muoah! <3

[2014-11-05 00:05] lenareinhard opened #63 "remove events branch"
has been merged with Master afaik

[2014-11-05 00:06] verpixelt commented on #4
Support ticket sent. _ping_ @ffffux

[2014-11-05 00:10] lenareinhard opened #64 "improve readability for text on images on index.html"
e.g. make pictures darker

[2014-11-05 00:12] verpixelt commented on #63
Done. Also removed another unused branch.

[2014-11-05 00:12] #63 closed, assigned to nobody

[2014-11-05 00:40] lenareinhard opened #65 "/initiatives: remove text-transform:uppercase for noBackend"
h2 got that implemented, should be removed for noBackend bc spelling

[2014-11-05 07:35] verpixelt commented on #65
Fixed.

[2014-11-05 07:35] #65 closed, assigned to nobody

[2014-11-05 07:40] verpixelt commented on #35
I've added Uglify to the Grunt build task b36851528c4196ccdc39a76518c2ee51fd78e55f. At this moment that should be enough(and also in our case, I'm not sure if we need more, except usemin). After @zoepage has implemented the nav functionality we maybe have to adjust the task a bit(don't know what JS is in use after it is finished) and copy it to the hoodie-css repo.

[2014-11-05 08:25] lenareinhard opened #66 "blog is not displayed anymore"
FF & Chrome. Might be related with #57
![screen shot 2014-11-05 at 09 24 19](https://cloud.githubusercontent.com/assets/3472712/4914603/296d5298-64c5-11e4-8652-1cac0e103253.png)

[2014-11-05 08:28] lenareinhard commented on #60
sub-navigation is not displayed currently, couldn't find the reason
![screen shot 2014-11-05 at 09 25 32](https://cloud.githubusercontent.com/assets/3472712/4914659/c11f89f8-64c5-11e4-813e-3b4740ef507e.png)

[2014-11-05 08:42] verpixelt commented on #66
For both the changes on the blog and also the changes on #60 I had to adjust stuff in the config.yml. Jekyll doesn't recognize these changes until a restart. Can you try that please.

[2014-11-05 08:45] verpixelt commented on #60
Please take a look at the comment on #66.

[2014-11-05 08:48] lenareinhard commented on #66
Ok, awesome, fixed it. Sorry and thank you!

[2014-11-05 08:48] #66 closed, assigned to nobody

[2014-11-05 08:48] lenareinhard commented on #60
solved it, thanks

[2014-11-05 08:48] #60 closed, assigned to nobody

[2014-11-05 08:50] verpixelt commented on #66
Don't be. It's something you couldn't know.

[2014-11-05 09:51] espy commented on #57
Wow, super stupid mistake on my part. I'm on it.

[2014-11-05 10:11] #57 closed, assigned to espy

[2014-11-05 11:47] zoepage opened #67 "[pre-launch] css - tasks"
Soft launch will be at 6pm. Release tomorrow at 11am.

@verpixelt :
- [x] finish Grunttasks
- [x] move all files to hoodie-css
- [x] kick out not used css files in website and blog

@zoepage:
- [x] move hoodie-css to hoodiehq
- [x] point css links to hoodie-css for FAQ, Blog & Website
- [x] point css links to hoodie-css for Club
- [x] kick out not used css files in club & FAQ

@verpixelt & @zoepag

[2014-11-05 12:46] zoepage opened #68 "create CNAME"
@espy :
- [ ] create CNAME file

[2014-11-05 12:47] zoepage opened #69 "Move hoodie-website to hoodiehq"
- [ ] move hoodie-website to hoodiehq, if you think the time is right!

(ping me anytime, if you need help)

[2014-11-05 12:48] #68 closed, assigned to espy

[2014-11-05 13:22] #64 closed, assigned to nobody

[2014-11-05 13:23] verpixelt opened #70 "hood.ie deployment"
@espy can you give me more information on how to do that?

[2014-11-05 19:01] lenareinhard commented on #4
@verpixelt received, checked, it's all in. Thank you! :sunny:

[2014-11-05 19:01] #4 closed, assigned to nobody

[2014-11-05 20:09] lenareinhard commented on #70
@verpixelt afaik and after what we talked about today in the office (without you, unfortunately), the pages don't need to be deployed.
@zoepage maybe you have something to add on that.

[2014-11-05 20:18] lenareinhard opened #71 "Blog posts all italic in overview pages"
all posts before are displayed correctly in the overviews, but starting with the 2nd, 4th, 5th post, they're all italic.
Blog post view is correct, only overview is wrong, e.g. as in
![screen shot 2014-11-05 at 20 35 49](https://cloud.githubusercontent.com/assets/3472712/4925112/84c8dd8e-6528-11e4-9dda-6f8a2c480f6d.png)

[2014-11-05 20:47] verpixelt commented on #71
That are remains from the Wordpress blogpost formatting which we have to clean up. It's a no brainer but not a small task.

[2014-11-05 20:48] lenareinhard commented on #71
good to know. will stick with labelling this "post-launch".

[2014-11-05 20:57] verpixelt commented on #10
Hey @zoepage what's up with this tasks?

[2014-11-05 21:10] verpixelt commented on #69
Sry, I have no permissions to do that. Haven't thought about that. (no settings tab for me)

[2014-11-05 21:12] verpixelt commented on #9
I close this one because it's a duplicate, see #69.

[2014-11-05 21:12] #9 closed, assigned to zoepage

[2014-11-05 21:30] lenareinhard commented on #67
@zoepage please add #10 (items from this issue missing)

[2014-11-05 21:34] lenareinhard commented on #67
note: renamed issue to "pre-launch" and removed "post launch" label; all of this has to be done before the launch.

[2014-11-05 21:51] espy commented on #67
@zoepage @verpixelt I tried linking club to use 'https://raw.githubusercontent.com/hoodiehq/hoodie-css/master/src/css/hoodie.css' but that doesn't work, it's loaded but not applied to anything. Not sure why, could it be something to do with `https` vs `http`? Because loading CSS via `http` from a gh-page worked.

[2014-11-06 07:34] verpixelt commented on #67
Sry, I've no clue. Do you have a link where I can have a look?

[2014-11-06 07:39] verpixelt opened #72 "Small screen nav pops up"
When you are below ~1024px(on a sub page) and the small(ish) screen nav is visible(not the active full screen state) and you hit the hoodie logo to get back to the landing page, the fullscreen nav pops up for a sec..

[2014-11-06 07:44] verpixelt opened #73 "Words capitalized"
On /community/ in the teaser block a few of the nouns are capitalized. Looks like an accident.

[2014-11-06 07:54] zoepage commented on #67
I'll check as soon as I'm at the office.

[2014-11-06 07:57] verpixelt commented on #10
?

[2014-11-06 08:24] zoepage commented on #10
it's done.

[2014-11-06 08:24] zoepage commented on #72
fixed with 2f7ff822ebdf7730f85342f4035ca4e38cb1da94

[2014-11-06 08:24] #72 closed, assigned to zoepage

[2014-11-06 08:28] zoepage commented on #69
done.

[2014-11-06 08:28] #69 closed, assigned to zoepage

[2014-11-06 08:29] zoepage commented on #70
nope. :)

[2014-11-06 08:34] zoepage commented on #67
maybe bc the repo wasn't in hoodiehq before? might want to try it now @espy ?

[2014-11-06 08:47] verpixelt commented on #10
Ola it isn't done. You can still scroll the page when the full screen nav is open + the behaviour (scroll back to top and nav fades in again) isn't implemented either.

[2014-11-06 08:54] zoepage commented on #10
I talked with @ffffux about that before. You are right. I'll fix the "not scroll" fcn now. Sorry.
That's why I reopened the issue...

(The other issue was implemented, like you might remember, but needs some fixing. It's post-launch now).

[2014-11-06 08:58] #73 closed, assigned to lenareinhard

[2014-11-06 10:09] zoepage commented on #10
non-scroll feature implemented with: b9033739d54290062e14df8ea22f4b7e946dd276

[2014-11-06 10:10] #70 closed, assigned to espy

[2014-11-06 10:10] #49 closed, assigned to lenareinhard

[2014-11-06 10:38] lenareinhard opened #74 "Pages broken in Safari"
Safari, latest version

broken atm:
- grid is not displayed correctly
- main navigation is not displayed correctly
- main navigation has underlines displayed
- underlines are displayed wrong

![screen shot 2014-11-06 at 11 37 15](https://cloud.githubusercontent.com/assets/3472712/4934353/e7bf01e8-65a0-11e4-9a3c-eb4df8ec4240.png)
![screen_shot_2014-11-06_at_11 35 09_](https://cloud.githubuserconten

[2014-11-06 10:40] lenareinhard opened #75 "Check Markup validation failures"
http://validator.w3.org/check?uri=http%3A%2F%2Fhood.ie%2F&charset=%28detect+automatically%29&doctype=Inline&group=0

[2014-11-06 10:54] verpixelt commented on #74
Will be solved with the prefixed CSS file.

[2014-11-06 12:58] lenareinhard opened #76 "add Jens to community"

[2014-11-06 12:59] lenareinhard opened #77 "remove asides from /code-of-conduct"

[2014-11-06 13:03] #77 closed, assigned to lenareinhard

[2014-11-06 13:03] zoepage opened #78 "link underlining broken in Chrome"
![bildschirmfoto 2014-11-06 um 14 02 45](https://cloud.githubusercontent.com/assets/562354/4936113/4d7fa6cc-65b5-11e4-8a67-db1da8d96139.png)

Maybe the FF fix killed that? :)

It's JUST (!) in the .teaser section...

[2014-11-06 13:13] verpixelt commented on #78
Jep, will fix that later.

[2014-11-06 13:14] zoepage commented on #78
Thank you <3

[2014-11-06 13:20] verpixelt commented on #10
- [x] page behind the fullscreen nav still scrollable
- [ ] after resizes with open fullscreen nav (orientation change) bigger than the nav breakpoint close button doesn't close the nav anymore

[2014-11-06 13:23] verpixelt opened #79 "Logo cut ends too early on big screens"
![cut-logo](https://cloud.githubusercontent.com/assets/1640079/4936336/14c72d2a-65b8-11e4-8284-cf36c8785625.png)

[2014-11-06 13:29] verpixelt commented on #78
- [x] /events
- [x] teaser paragraph

[2014-11-06 13:31] verpixelt opened #80 "Reduce gap"
between nav and content on small screens.
![gap](https://cloud.githubusercontent.com/assets/1640079/4936429/36a25bda-65b9-11e4-9792-1bb6311404d9.png)

[2014-11-06 13:34] verpixelt opened #81 "Reduce link underline opacity (footer)"
![opacity](https://cloud.githubusercontent.com/assets/1640079/4936468/b1f22770-65b9-11e4-9147-ce556f066593.png)

[2014-11-06 14:03] #76 closed, assigned to lenareinhard

[2014-11-06 14:06] zoepage commented on #75
~60% done. will continue tonight. <3

[2014-11-06 15:12] lenareinhard opened #82 "<aside> links not underlined"
FF, latest
all pages affected. Might be related with fixes for #78

![screen shot 2014-11-06 at 16 09 48](https://cloud.githubusercontent.com/assets/3472712/4937842/0cbf27d6-65c7-11e4-932f-479218a26984.png)

[2014-11-06 15:14] lenareinhard opened #83 "add custom 404 page"

[2014-11-07 09:48] #75 closed, assigned to zoepage

[2014-11-07 09:50] zoepage commented on #79
Shall I fix the png's or will they be replaced with SVG's soon?

[2014-11-07 10:09] zoepage commented on #83
The 404 is up. If you want to change the text @ffffux , go for it :)

[2014-11-07 10:11] zoepage commented on #79
Replacing with SVG's soon.

[2014-11-07 10:25] #83 closed, assigned to lenareinhard

[2014-11-07 11:49] lenareinhard opened #84 "SEO"
Check SEO topics, especially
- [x] page titles (please set up individual titles for all sub pages, e.g. "hood.ie: contribute" for /contribute
- [ ] keywords (max 10), meta
- [ ] page description (incl. >3 keywords)

[2014-11-07 14:28] #42 closed, assigned to nobody

[2014-11-07 14:29] zoepage commented on #29
ping @espy

[2014-11-07 14:35] zoepage opened #85 "font weight in main-nav"
Thinking about using the 400 font-weight of the font instead the 500 for the main-nav and the meta-nav.
I need to check, if it looks fine with the `<strong>` text too...

[2014-11-07 14:45] lenareinhard commented on #44
This can be done by anyone. Main task is to finish the workshop materials (they're here: https://docs.google.com/a/thehoodiefirm.com/document/d/1HijseqxQvPO9auzBuobPvuzv5Y3XQaf_g0u1fhJ3jvo/edit#  – I've written most parts, but some tutorials and stuff are missing (added comments for these in the doc)

[2014-11-07 15:08] espy commented on #29
No idea either :/ Sorry. Probably docs, though. I'd close it.

[2014-11-07 16:06] zoepage commented on #44
That's why I assigned you. When you are done, you can assign me and I'll finish this task.

So, we always know who is responsible atm.

[2014-11-07 16:09] lenareinhard commented on #44
Done with my parts, I don't know who can work on it now (but it's also not urgent anyway).

[2014-11-07 16:39] lenareinhard commented on #44
I have now made a new issue for the workshop content in the docs repo (as it rather belongs there than here) https://github.com/hoodiehq/documentation/issues/78
Assigned myself for this issue here – once the workshop content (= that doc and all things related) is ready, I will put it on the website.

[2014-11-07 20:03] verpixelt commented on #82
Fixed.

[2014-11-07 20:03] #82 closed, assigned to verpixelt

[2014-11-09 13:37] #81 closed, assigned to verpixelt

[2014-11-09 14:05] #78 closed, assigned to verpixelt

[2014-11-09 14:15] verpixelt commented on #74
Fixed. If its broken from time to time it's because we haven't included the prefixed CSS. Won't happen if the page is live.

[2014-11-09 14:32] verpixelt commented on #80
Fixed.

[2014-11-09 14:32] #80 closed, assigned to zoepage

[2014-11-09 15:28] lenareinhard opened #86 "document pages maintenance somewhere"
(either in /documentation or directly here)
- dependencies
- maintenance: which pages / repos do have a separate navigation / footer (e.g. /events & more)?
- … … … 

[2014-11-10 21:55] lenareinhard opened #87 "random underlines for h3 on /animals"
both under "Low-Profile Dog" and "Coming soon …", I have no explanation; couldn't find the issue on another page and couldn't reproduce; suppose it's related with the styles for lilac

![screen shot 2014-11-10 at 22 54 54](https://cloud.githubusercontent.com/assets/3472712/4984493/503d1ce2-6924-11e4-8841-b56a989fc653.png)

[2014-11-10 22:23] lenareinhard opened #88 "bug when navigating to a page from the footer on mobile / smaller devices (navigating from footer broken)"
what I did:
- opened prev.hood.ie/contribute (or any other page, also goes for index.html) with reduced page width (only reduced menu with hamburger icon was shown); or opened same page on mobile device
- scrolled to footer
- clicked on "Get help" (or any other link)
- now all that happens is:
  - page scrolls back to the top
  - and displays navigation, with the page I had opened before selected

[2014-11-10 22:25] verpixelt commented on #87
I've found the problem, have fixed it but cant't explain it at the moment. Because we use article tags to separate our content we are, according to the HTML5 spec, allowed to use multiple `<h1>` tags on one page. Therefor we have classes like h3 (`<h1 class="h3">headline</h1>`). This results in the same visual output like `<h3>headline</h3>`. Why the underline doesn't behave like it should – I hav

[2014-11-10 22:45] janl commented on #84
Enabled titles in 6f9fe1e

[2014-11-10 22:47] lenareinhard commented on #87
ok, perfect, thanks. (Actually I also tried `<h1 class="h3">headline</h1>`, but hadn't worked for me :) )

[2014-11-10 22:59] lenareinhard commented on #61
assigned me, I'll keep track of it for now and will hand it over as soon as necessary

[2014-11-10 23:31] verpixelt commented on #87
Jep, and you're right about that. Using `<h1 class="h3>` is the proper way to go but wasn't the fix(even if I said so ;P). Adjusting the link background-position for headlines explicitly in FF solved the problem.

[2014-11-10 23:31] #87 closed, assigned to nobody

[2014-11-11 08:45] lenareinhard commented on #88
@espy can you take a look at this?

[2014-11-11 09:26] espy commented on #88
Yip yip!

[2014-11-11 09:36] verpixelt commented on #88
![](http://i62.photobucket.com/albums/h97/ValleyVenus/yip-yip-yip.gif)

[2014-11-11 09:41] janl opened #89 "font weight in boxes with background text"
Things are a tad hard to read when boxes have a background colour or image:

![screen shot 2014-11-11 at 10 40 09](https://cloud.githubusercontent.com/assets/11321/4991019/3c54f89c-698f-11e4-850a-ba14797eb6b5.png)
![screen shot 2014-11-11 at 10 41 09](https://cloud.githubusercontent.com/assets/11321/4991020/4115f7f0-698f-11e4-94ea-e0079086459b.png)

(Safari, Yosemite, non-retina)

[2014-11-11 09:44] lenareinhard commented on #89
is that a bug? (bugs are showstoppers for the launch)

[2014-11-11 09:46] janl commented on #89
I’d say at least the orange box is a blocker, as it is the first thing people see.

[2014-11-11 09:47] #88 closed, assigned to nobody

[2014-11-11 09:47] lenareinhard commented on #89
alright, then we postpone the launch until someone can work on this. This is about the fonts and weights which we use + embed, and has to be taken a look at regarding design + speed topics.

[2014-11-11 09:48] janl commented on #89
someone from the design team: feel free to overrule me

[2014-11-11 09:55] espy commented on #89
We already use font weight 500 in other places, so we can do this without importing any new font cuts.

[2014-11-11 10:06] janl commented on #89
:+1:

[2014-11-11 10:18] janl opened #90 "[/index.html] make ”Meet the Hoodie” box clickable"
currently only the text “meet the hoodies” is a click target. I’d be nice to make the whole box clickable.

Not blocking the launch.

[2014-11-11 10:30] lenareinhard commented on #89
Yes, we can use font weight 500, and I completely get why this topic is an issue. Only thing is that 500 wasn't planned to be used here (at least not for paragraphs), and I'd like to have at least @zoepage take a look at this before this goes live like that.

[2014-11-11 10:31] janl commented on #89
aye.

[2014-11-11 10:34] lenareinhard commented on #89
see also #85

[2014-11-11 11:03] verpixelt commented on #89
Font weight 300 and 500 as well do look too light and/or too bold in the different browsers based on the varying font rendering(and also on retina and non-retina). As @zoepage already mentioned in #85 the 400er could be a solution. I could/would implement the specific style only for the index page tonight as "hotfix" so we solve the "launch blocker" and can discuss this topic further afterwards.

[2014-11-11 11:09] janl commented on #89
@verpixelt sounds like a plan.

I think I’d be happy to choose ugly over hard to read, but it is a bit of an eye-sore now, and I’m not calling the shots here.

[2014-11-11 11:15] janl commented on #89
500 / italic doesn’t look too shabby here:

![screen shot 2014-11-11 at 12 13 09](https://cloud.githubusercontent.com/assets/11321/4992120/63836e14-699c-11e4-8776-a4609c088071.png)

(_non-designer annoys everyone, then runs and hides_)

[2014-11-11 15:10] #89 closed, assigned to nobody

[2014-11-11 15:15] janl commented on #89
@verpixelt had a quick call with @zoepage, she suggested we throw out the loading of the monospace font in the process, since it is not used yet. I went ahead and did the change, I hope you don’t mind! :)

[2014-11-11 15:58] janl commented on #85
re-open because tmp fix.

[2014-11-11 17:17] #74 closed, assigned to verpixelt

[2014-11-11 17:18] espy opened #93 "Autoprefixer may be a bit too optmistic"
I fear we're being to optimistic with the "last 2 releases" setting, I've seen a couple of firefoxes older than 28, and they don't get flexboxes, for example.

[2014-11-11 17:23] BigBlueHat opened #94 "Redirect /sponsoring.html somewhere"
The old sponsoring.html page currently 404's. It should likely be a redirect to wherever that content lives now.

Found via the (currently) pinned tweet at https://twitter.com/lrnrd

Cheers!

[2014-11-11 18:10] JosePedroDias opened #96 "cheatcheats and bug page are 404s"
The cheatsheet links ("Web Version" and "Print Version" here http://hood.ie/get-help/) and bug submitting page ("report a bug" here http://hood.ie/contact/) are 404s.

[2014-11-11 18:14] janl commented on #96
where do you the 404s? the links you posted work for me

[2014-11-11 18:31] janl opened #97 "add forwards for intro.html and code-of-conduct.html"

[2014-11-11 18:36] JosePedroDias commented on #96
This URL for example:
http://hood.ie/dist/presentations/hoodie-cheat-sheet.pdf
returns title 404 and heading We're sorry...
Maybe it's caching, don't know...

[2014-11-11 18:42] janl commented on #96
Ah, I understand now, thanks, confirmed!

[2014-11-11 19:00] lenareinhard commented on #97
see also #94

[2014-11-11 19:01] lenareinhard opened #99 "discuss further website maintenance, responsibilities and set up maintenance team"
@zoepage assigned you for now

[2014-11-11 19:02] lenareinhard commented on #94
@BigBlueHat ha, and that's my tweet even! Thanks for the hint, will work on it (see also #97)

[2014-11-11 19:04] lenareinhard commented on #44
first iteration is done in hood.ie/contribute#meetups, can be extended there as soon as the docs are ready

[2014-11-11 19:04] #44 closed, assigned to nobody

[2014-11-11 19:10] cebe opened #100 "link underlines look weird in firefox 29 ubuntu"
Firefox 29.0 Ubuntu

![screenshot-2014-11-11t20 08 59](https://cloud.githubusercontent.com/assets/189796/4999051/acee7ffc-69de-11e4-813d-870fdd3634e0.png)

Looks like this line is responsible for drawing the underline which is placed a bit too high. https://github.com/hoodiehq/hood.ie/blob/gh-pages/dist/css/hoodie.css#L296

Here is a bit more zoom:

![screenshot-2014-11-11t20 11 29](https://cloud.

[2014-11-11 19:11] lenareinhard commented on #96
@JosePedroDias thanks for the feedback!
Quick check:
- "report a bug" on http://hood.ie/contact/ -> can't reproduce (link is hood.ie/bug)
- Cheat Sheet links:
  - Web -> fixed
  - Print -> fixed

[2014-11-11 19:12] lenareinhard commented on #100
yes, correct, that's the one. Thanks for the feedback! We'll look into it.

[2014-11-11 19:22] lenareinhard opened #101 "Page not working on Chromium & Firefox on Archlinux"
Chromium: Version 38.0.2125.104 (290379) (64-bit)
Firefox: 33.0.1

![b2luet6cmaak-l0](https://cloud.githubusercontent.com/assets/3472712/4999187/5ad6ad32-69e0-11e4-8c6a-cbd63425b40c.png)

[2014-11-11 19:32] badboy commented on #101
Same for me, works if I block fonts.googleapis.com (and thus the webfont).
I can load the required css and the linked fonts manually. Not sure why it blocks the rendering

[2014-11-11 19:40] ccoenen opened #103 "Redirect Blog [old domain] -> [new path]"
Hi there,

the blog used to be at blog.hood.ie, now it's at hood.ie/blog. This will break links that may be pointing to articles like the awesome TGIF-Series.

I'd like to request that you create a 301 Permanent Redirect. If you tell me what's your server, i'll gladly help. For Apache, the rule would look like this:

[code]

L -> last rule
R=301 -> redirect as 301 (permanent)

[2014-11-11 19:42] ccoenen opened #105 "Please bring back RSS-Feeds"
The "old" Blog had a RSS Feed. I'd love to have one for the new one, too!

For "onboarding" of the old folks (like me) you should also forward the old RSS URL to the new one. Some Readers will follow a redirect. Another good practice would be to have an 'End-of-Life' entry at the old URL, which mentions the new feed address. (this can also be incorporated in the aforementioned virtual host in #103

[2014-11-11 19:44] janl commented on #103
We have setup a redirect. Which links are now working for you? The old articles were all migrated to the new blog.

Best

## Jan

[2014-11-11 19:45] janl commented on #105
Sorry, I dropped this one. We will definitely have an RSS feed and redirects and everything.

[2014-11-11 19:46] ccoenen commented on #105
Cheers!

[2014-11-11 19:48] lenareinhard opened #106 "Main Navigation: ABOUT link is always active"
… on any page I visit. Goes for all browsers, navigation setting is wrong.

[2014-11-11 19:52] janl commented on #101
cc @espy

Maybe this helps: https://support.mozilla.org/en-US/questions/958143

[2014-11-11 19:54] janl commented on #101
Not all Linux: https://twitter.com/netzvagabund/status/532259825351421953

[2014-11-11 19:55] ccoenen commented on #103
You're right. I'm sorry. I assumed, since the feed itself failed, there must be no redirect in place at all. If i find a URL that's not working as expected, i'll reopen.

Sorry for the confusion!

[2014-11-11 19:55] #103 closed, assigned to nobody

[2014-11-11 19:56] lenareinhard commented on #101
see also #100 and #101

[2014-11-11 19:57] janl commented on #101
Some more data points:
- https://twitter.com/blaue_flecken/status/532260576509329408
- https://twitter.com/Lady_Ada_King/status/532260860975415296
- https://twitter.com/MarkGavalda/status/532261171060293632 & https://twitter.com/MarkGavalda/status/532261853028958208

[2014-11-11 19:58] janl commented on #101
FWIW, 8% Linux users on the site

[2014-11-11 20:00] janl commented on #103
Absolutely no worries :)

[2014-11-11 20:23] svnlto commented on #106
i think this has been introducted by this commit https://github.com/hoodiehq/hood.ie/commit/ba94d54604fb66bc884153ccbee23dc817a40b32

[2014-11-11 20:29] lenareinhard commented on #106
fixed, so sorry https://github.com/hoodiehq/hood.ie/commit/045b874d02bdb38beacce7371ee0256a531211d8

[2014-11-11 20:29] #106 closed, assigned to nobody

[2014-11-11 20:34] chesles commented on #101
If this helps, I see the font crossed out in chome's inspector. Network tab shows the fonts get downloaded, just not being rendered for some reason.

![2014-11-11-153221_621x391](https://cloud.githubusercontent.com/assets/149885/5000275/0dac75aa-69b8-11e4-8f36-317a0abd298f.png)

[2014-11-11 20:39] HipsterBrown commented on #5
+1

Started using this recently, it's a great tool and makes it much easier to get up and running. I have not tried using it with grunt or any other sort of build tool for deployment but I have used it to make a ph-pages friendly static site. [my harp.js site example](https://github.com/HipsterBrown/DF-Resonsive)

[2014-11-11 20:50] janl commented on #5
we gotta sort sort auto-deploy and some real hosting then, too, because I’d like to retain the “merge PR to deploy” semantics, but that is not too hard to set up. Just flagging this as a requirement :)

[2014-11-11 21:03] candeira commented on #101
FWIW, it's working for me in stock Chrome/Ubuntu14.04.

[code]

![image](https://cloud.githubusercontent.com/assets/91694/5000693/47ac8c88-6a42-11e4-87cb-143b5e452e1f.png)

[2014-11-11 21:16] HipsterBrown commented on #5
There is the [Harp Platform](https://www.harp.io/) with some [collaboration support](https://www.harp.io/docs/platform/collaborators). Files are hosted through Dropbox, which might be a turn-off for this team, and have GUI controls for publishing and build backups.

[Or keep using gh-pages deploy method.](http://harpjs.com/docs/deployment/github-pages)

[2014-11-11 21:19] janl commented on #5
I’d set up a custom system somewhere. gh-deploy does’t give you GH-merg capabilities, or am I reading that wrong?

[2014-11-11 21:26] jo commented on #101
Same issue, also on Firefox 33.0.2 3.17.2-1-ARCH x86_64
Btw. similar problem here: http://blog.keithcirkel.co.uk/why-we-should-stop-using-grunt/

![screenshot from 2014-11-11 22 29 11](https://cloud.githubusercontent.com/assets/17586/5000997/c9df437c-69f1-11e4-9c22-f17fee80fa4f.png)

[2014-11-11 21:27] HipsterBrown commented on #5
That is true. You need to compile the site before pushing to Pages. I guess you could set up a githook to deploy to harp server running on [heroku](http://harpjs.com/docs/deployment/heroku) or another linux box after approved merge.

While harp makes local development easier to get started and iterate, but it's hard to beat the easy deployment workflow of Jekyll on gh-pages. ¯_(ツ)_/¯

[2014-11-11 21:42] chesles commented on #101
Similar problem with the google fonts site itself, actually. Other fonts there render, but not "Fira Sans".

[2014-11-11 21:48] jo commented on #101
Seems like its a problem with that specific font, which is also used by the site I mentioned above.
![screenshot from 2014-11-11 22 49 47](https://cloud.githubusercontent.com/assets/17586/5001296/d5f64770-69f4-11e4-8cbe-429a230baa2a.png)

[2014-11-12 00:01] verpixelt commented on #99
I would like to help finish this project and provide further support as well as maintenance for the code base. Also there is a lot more to refactor, optimise and to document. It would be awesome to work with @zoepage together as we both know the whole structure and ideas behind how this page was build.

[2014-11-12 10:34] lenareinhard opened #108 "Page looks broken in Windows 7 (might be web font issue as well)"
Windows 7, Chrome 38

![b2pasktciae-rvp](https://cloud.githubusercontent.com/assets/3472712/5008727/d7621d08-6a5f-11e4-9af1-43f2d0afe1ec.png)

[2014-11-12 11:01] espy commented on #101
Hello @chesles, @jo and @badboy , I've switched to self-hosting the font instead of pulling it from google, did that make any difference? Thanks!

[2014-11-12 11:03] lenareinhard commented on #85
related with #89

[2014-11-12 11:04] jo commented on #101
That has fixed it for me.

[2014-11-12 11:08] lenareinhard commented on #93
When discussing the technical setup, it was decided that the website supports the same broswers that Hoodie supports. @zoepage thinks about a solution / approach now.

[2014-11-12 11:28] zoepage commented on #29
this issue is for the API docs

[2014-11-12 11:29] zoepage commented on #21
see #101

[2014-11-12 11:32] badboy commented on #101
Much better now

[2014-11-12 12:40] espy commented on #101
And there was much rejoicing!

![bildschirmfoto 2014-11-12 um 13 39 32](https://cloud.githubusercontent.com/assets/391124/5010294/674cf9b8-6a71-11e4-946f-cc30598656c4.png)

I'll consider this fixed now. Fingers crossed!

[2014-11-12 15:30] zoepage opened #109 "newsletter signup has no submit"
The newsletter input has no functionality behind it. Seems like, we forgot it during the progress. Need to fix it asap...

[2014-11-12 15:50] lenareinhard commented on #109
The functionality is here in line 48-54: https://github.com/hoodiehq/hood.ie-website-old/blob/master/src/index.html

[2014-11-12 16:57] chicgeek commented on #100
@cebe Firefox on Ubuntu is up to v33. Any reason you're using 29? Will investigate this further when I get off work.

[2014-11-12 17:22] ghost opened #110 "Invisible Header too large. Blocks texts and links."
![screen shot 2014-11-12 at 18 15 48](https://cloud.githubusercontent.com/assets/131438/5014701/2eff7302-6a98-11e4-94bc-77603ce890eb.png)

Effect: I couldn't click the links embedded in the text, when they've been displayed in the upper area of the browser.

Assumption: the header slides out and gets html-class invisible. The class uses css attributes visibility, opaticy and more. Browsers interne

[2014-11-12 18:00] zoepage commented on #110
Header height is on 206px. Should be 104.  I'll check it asap! Thank you very much! <3

[2014-11-12 20:53] chicgeek commented on #100
This is the culprit. Checking to see if it's required by later versions of FF where it renders fine with the current styles.
https://github.com/hoodiehq/hood.ie/blob/gh-pages/dist/sass/_typo.scss#L188

[code]

[2014-11-12 23:58] cebe commented on #100
There is no special reason, just a crappy old system that will break when trying to upgrade. If it is a Firefox bug in a version that is not widely used I am happy with closing this issue. However I am wondering why you aren't using simple text-decoration: underline in this case?

[2014-11-13 08:43] lenareinhard commented on #100
@chicgeek wow, awesome! Thanks for taking the time to investigate!
@cebe good points, also regarding the underline question. We used the classic underline first, but it didn't work well with the font (looked too bold, and in some browsers looked even very similar to the screenshot above). In order to being able to set the underline precisely where it's supposed to, we decided to go for the solutio

[2014-11-13 10:09] espy commented on #110
Sorry, this was a last-minute hotfix while I was already setting up upfront. The 206px is for the animated header. Have you worked on this yet, @zoepage ? Otherwise I can do it now.

[2014-11-13 10:31] #110 closed, assigned to nobody

[2014-11-13 14:18] chicgeek commented on #100
Was hoping to make the fix and test it locally, but I'm not familiar with
Jekyll and unfortunately have not had time to figure it out.

Omitting this line definitely resolves the issue with FF29, but may nix a
fix put in for later FF versions, so it needs checking. Happy for someone
else to test/complete this, a few barriers in the way of me submitting
anything quite yet.
On 13 Nov 2014 08:43, "Fo

[2014-11-13 14:21] janl commented on #100
@chicgeek  thanks so much for your help! <3

No bother if this doesn’t work for you, but if you want to try to set up jekyll:

[code]

Go to http://127.0.0.1:8000/ in your browser.

[2014-11-13 14:52] janl commented on #94
fixed

[2014-11-13 14:52] #94 closed, assigned to zoepage

[2014-11-13 14:52] janl commented on #97
fixed

[2014-11-13 14:52] #97 closed, assigned to janl

[2014-11-13 19:00] verpixelt commented on #101
I'm sorry, but we have to do a little more work here. With the self hosted version we've increased the font loading time massively. With a simulated DSL connection it takes nearly 4sec(even worse on 3G or EDGE) until we get content displayed. This is far to long and in my opinion unacceptable. I will take a look into it.

[2014-11-13 19:45] NickColley commented on #22
PouchDB: [raw](https://raw.githubusercontent.com/pouchdb/pouchdb/master/docs/static/img/mark.svg)   - [img](http://pouchdb.com/static/img/mark.svg)

[2014-11-13 21:07] lenareinhard commented on #22
thanks, @nickcolley <3
- [x] PouchDB
- [x] CouchDB: https://svn.apache.org/repos/asf/couchdb/supplement/logo/couchdb-logo.svg
- [x] Node.js http://de.wikipedia.org/wiki/Datei:Node.js_Logo.svg
- [x] &yet -> contacted, found https://apps.andyet.com/images/logo.svg
- [x] nlnet https://nlnet.nl/logo/banner.svg
- [x] Travis -> I got it, please let me know when you want to implement it
- [x] Third Wave

[2014-11-14 13:16] verpixelt commented on #22
I've included the first ones. If you could send me the Travis logo file, that would be perfect.

[2014-11-14 14:22] zoepage commented on #109
Removing the button and fetching the submit event by keypress: enter.

[2014-11-14 14:31] #109 closed, assigned to lenareinhard

[2014-11-14 14:31] zoepage commented on #99
+1

[2014-11-14 14:32] lenareinhard commented on #105
working on implementing https://github.com/snaptortoise/jekyll-rss-feeds

[2014-11-14 14:33] zoepage commented on #96
@JosePedroDias is the bug still occurring? Couldn't reproduce it either :)

[2014-11-14 15:21] zoepage opened #112 "make resources offline available"
Because of font issues (#101 and #108) and also because we want to make the website and especially  documentation offline available, I'd love to add an app manifest. As we know, the app cache is a douchebag, I'd suggest we use appcache-nanny. https://www.npmjs.org/package/appcache-nanny

Your suggestions?

cc @verpixelt

[2014-11-14 15:26] zoepage commented on #93
We decided that we support all the browsers, we also support with hoodie, because they can't develop anything with Hoodie anyway.
https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/system-requirements-browser-compatibilities-prerequisites-before-getting-started-with-hoodie.md
- Firefox latest stable (v29)
- Chrome latest stable (v34)
- Desktop Safari latest stable (v7)
- Internet Ex

[2014-11-14 15:26] #93 closed, assigned to nobody

[2014-11-14 15:26] janl commented on #112
cc @gr2m :)

[2014-11-14 15:28] NickColley commented on #112
We're generating ours like this: https://github.com/pouchdb/pouchdb/blob/master/docs/manifest.appcache if it's any help.

[2014-11-14 15:29] zoepage commented on #90
After checking, I think the solution is great. Are there any problems with that I do not know about?
(Working on desktop and mobile like a charm) ;)

cc @verpixelt

[2014-11-14 15:29] zoepage commented on #112
Thanks @nickcolley for the input :)
I'll check it! :)

[2014-11-14 15:36] zoepage commented on #85
After changing the font-weight from 300 to 400, the active link isn't really visible anymore. Any suggestions? (Guessing the underlining got kicked out for a reason?)

cc @verpixelt

[2014-11-14 15:39] lenareinhard commented on #85
@zoepage underlining got kicked out because
a) had the same issue as all other links (looked rather crossed out than underlined)
b) UI should be consistent – and when links normally are underlined in their default state, it doesn't make sense to use the underline to communicate "active"

[2014-11-14 15:43] zoepage commented on #53
Is this issue done with the following or is there more to do? If so, please specify the task!
![bildschirmfoto 2014-11-14 um 16 42 21](https://cloud.githubusercontent.com/assets/562354/5048339/3894afbe-6c1d-11e4-9258-cb4fae317282.png)

[2014-11-14 15:44] NickColley opened #113 "Interaction states"
What do you think to having more interaction states throughout the site so it's obvious when you're hovering over elements, focused on them etc.

I'd love to help out but thought I'd see what you think before trying anything. :)

[2014-11-14 15:46] janl commented on #113
just for your consideration, not anything for or against this suggestion: there is no “hover” on mobile

[2014-11-14 15:48] JosePedroDias commented on #96
all the bugs are fixed. Thanks!

[2014-11-14 15:48] #96 closed, assigned to zoepage

[2014-11-14 15:55] lenareinhard commented on #53
Imo completely fine like that, thanks!

[2014-11-14 16:00] NickColley commented on #113
Yeah was just an example -- most of the benefit would be from the active/focus states.

[2014-11-14 16:03] zoepage commented on #10
I'm still working on fixing the resize issue. I found the problem.

[2014-11-14 16:13] #10 closed, assigned to zoepage

[2014-11-14 16:18] zoepage commented on #85
that were my thoughts. do you think 300 is still an option for the main nav or do we need an alternative solution for the 400 weight?

[2014-11-14 16:18] #53 closed, assigned to espy

[2014-11-14 16:25] zoepage commented on #113
Thank you @nickcolley for your suggestions. If you have something special in mind, let's discuss that! :)

[2014-11-14 16:26] zoepage commented on #96
AWESOME! thanks!

[2014-11-14 16:26] lenareinhard commented on #85
Suggestion:
- leave 300 for now, as it's fine in Chrome which is the browser that most people use (are using now and have been using our website with over the past >1 year
- should we hear more feedback about readability / usability, re-open issue.

Alternative: think about different solution now. Still, for now, this is an enhancement topic, and maybe over the time we gain more feedback and can t

[2014-11-14 16:30] zoepage commented on #85
Sounds like a plan!
I'll close the issue then and wait for more feedback.

[2014-11-14 16:30] #85 closed, assigned to zoepage

[2014-11-14 17:09] verpixelt commented on #22
- [x] add Travis with commit 79c667bbbcec83df93362171647a649a13f82af5
  left:
- [x] &yet
- [x] Third Wave

[2014-11-14 19:16] verpixelt commented on #108
Is this issue still relevant? I'm unfortunately unable to test it right now.

[2014-11-14 19:18] verpixelt commented on #90
I've merged the fix yesterday. I'll close this ticket.

[2014-11-14 19:18] #90 closed, assigned to zoepage

[2014-11-14 21:31] verpixelt commented on #45
I've added the first rules to the coding standards(HTML & Sass). This is an ongoing task. @zoepage can you please provide content for the Javascript part!?

[2014-11-15 09:34] verpixelt commented on #71
I've fixed a few more blog posts. All from page 1 to page 3 are fine by now. We could close this ticket or leave it open if you think we should clean more posts from the past.

[2014-11-16 10:02] gr2m commented on #112
I'm not sure if appcache is the best solution to tackle the font issue. I'd separate the issue from making the docs available offline. Could you check with @smashingmag how they did it? I know Vitaly put quite some effort to find a best solution to make their page fast, and I _think_ they ended up with a solution for the fonts that loads them async, and caches them in localStorage

[2014-11-16 12:44] #108 closed, assigned to espy

[2014-11-16 22:03] espy commented on #93
Cool, thanks for checking the stats!

[2014-11-17 08:58] zoepage commented on #112
@gr2m this sounds awesome! will do. Thanks!

[2014-11-17 08:59] zoepage commented on #71
I think, the last 3 pages are ttly fine as long as nobody writes an issue for that. So let's close it and reopen, if needed :)

[2014-11-17 08:59] #71 closed, assigned to verpixelt

[2014-11-17 13:45] zoepage commented on #99
So, no one else is answering, shall we close the issue with the decision that @verpixelt and I will take care of the last issues?

[2014-11-17 13:53] NickColley commented on #99
I'd be willing to help out :)

[2014-11-17 14:03] verpixelt commented on #99
@zoepage I guess for now it is the best idea to do so. Once we've finalised the documentation we could onboard more people to help out.

[2014-11-17 14:05] verpixelt commented on #101
I've developed a solution which might work out. I try to setup a virtual machine with Arch Linux tonight and test it.

[2014-11-17 14:08] verpixelt commented on #105
If you need help, ping me.

[2014-11-17 14:09] lenareinhard commented on #99
@zoepage @verpixelt this is definitely alright for getting the last issues done. It would be great though if this limitation is only temporary (as suggested, e.g. until the documentation is ready; we should also discuss how to handle content contributions, e.g. for the TGIF), and if you could also think about ways people can contribute to it in the future (which we could maybe even then put on the

[2014-11-17 14:20] verpixelt commented on #99
I totally agree with you on that. However we'll need someone who holds the strings together even if the documentation is finished. And at this point I don't see this task on someone else than @zoepage and/or me.

[2014-11-17 14:21] lenareinhard commented on #105
@verpixelt can you take this over? I won't be able to do it before thursday, if that's enough, I can work on it then

[2014-11-17 14:28] zoepage commented on #99
So, let's finish the last tasks, move the css to the framework repo and then open it up. Is this okay?

[2014-11-17 14:34] verpixelt commented on #105
I guess I get it fixed before thursday.

[2014-11-17 22:29] verpixelt commented on #105
At this point it works half the way. You can add the Hoodie blog to your RSS reader by using http://hood.ie/feed.xml. Reeder doesn't display any title or description for me. I'll try to figure out why tomorrow.

[2014-11-18 15:35] lenareinhard commented on #22
sent ThirdWave to @verpixelt, and found &yet: https://apps.andyet.com/images/logo.svg

[2014-11-18 20:06] #22 closed, assigned to lenareinhard

[2014-11-18 20:08] verpixelt commented on #26
What exactly was the idea behind this task? Can't remember creating it 0_o

[2014-11-18 20:10] verpixelt commented on #21
Let's close this issue and keep on with it in #101.

[2014-11-18 20:10] #21 closed, assigned to nobody

[2014-11-19 10:33] zoepage commented on #26
#112

[2014-11-19 10:34] zoepage commented on #112
http://www.smashingmagazine.com/2014/09/08/improving-smashing-magazine-performance-case-study/

[2014-11-19 10:36] zoepage commented on #26
Close in favour of #112

[2014-11-19 10:36] #26 closed, assigned to zoepage

[2014-11-26 13:38] lenareinhard opened #114 "introduce <aside> element for /blog"
I couldn't find a way to implement an <aside> element on /blog.
What I need: one picture (like the one on /about) embedded on the top left of each blog page (or at least on /blog).
If possible, we could also think about embededing the same picture in each blog post then, but that's only a nice-to-have.

[2014-11-26 23:44] verpixelt commented on #114
We'll take care of this at the weekend, together.

[2014-11-28 13:03] verpixelt commented on #25
All logos except the cut-off logos at top and the bottom of the pages are SVG by now. I'm closing this issue. The SVG cut-off-logo task will be handled in issue #79

[2014-11-28 13:03] #25 closed, assigned to verpixelt

[2014-11-28 16:14] verpixelt commented on #35
I've finalised the build task. Instead of usemin we're now using 'string-replace'

[2014-11-28 16:14] #35 closed, assigned to verpixelt

[2014-11-28 17:04] verpixelt commented on #99
+1

[2014-12-07 12:53] ccoenen commented on #105
If the url stays like that, the head.html needs a slight alteration right here:
https://github.com/hoodiehq/hood.ie/blob/8a8d7e73542331b5fc9d6ae6d87ca15740c327b9/_includes/head.html#L42 (still says `/blog/feed.xml`)

And found another one, on one of the TGIF posts:
https://github.com/hoodiehq/hood.ie/blame/86401d571d10c3c258a9087c26c08b436a02b1b4/_posts/2014-01-10-tgif-17-focus-structure-alpacas-k

[2014-12-07 19:29] verpixelt commented on #105
Thanks Claudius for the hint. I'll take a look at it =)

[2014-12-09 09:46] zoepage opened #115 "wrong / broken links - intro/get-started"
http://hood.ie/intro/#get-started

HOW TO INSTALL HOODIE:
-> all links to docs
-> print version of cheatsheet is missing the .pdf

[2014-12-11 09:07] chrisdwheatley opened #116 "Placeholder content still visible on IRC page"
Looks like there is still some placeholder pieces of content in the left hand side on the IRC page, see http://hood.ie/irc & https://github.com/hoodiehq/hood.ie/blob/b1de03fd394cb7b469b2685f9863759584525792/irc/index.html#L19

If someone lets me know what to put there or whether to just remove those pieces of text I'm happy to submit a PR.

[2014-12-11 11:35] zoepage commented on #116
Oh, we musst have missed that!
Thank you for pointing this out! :)

The text can be removed as long as the aside tag stays ;)

Thank you for your help!
<3

[2014-12-11 19:56] zoepage opened #117 "http://hood.ie/bug/ - 3. // missing I"
http://hood.ie/bug/
At point 3, there is an I missing at the beginning of the sentence.

[2014-12-11 22:21] zoepage commented on #116
Done!

[2014-12-11 22:21] #116 closed, assigned to nobody

[2014-12-11 22:27] zoepage commented on #117
done with 8bd855322520a49207cb1d1a10aa446f4e2dd619

[2014-12-11 22:27] #117 closed, assigned to nobody

[2014-12-12 08:05] chrisdwheatley commented on #116
Yay! :smile:

[2015-01-08 04:30] gnetsys opened #119 "Hoodie Gitter.im Please"
I would be nice to see a www.Gitter.im page link added to hoodie.

[2015-01-08 22:53] zoepage commented on #119
hey @gnetsys!
thanks for the suggestion. is there a special reason for your request?

[2015-01-09 12:22] verpixelt commented on #67
@zoepage what's about this tasks? Haven't we done most of them already? I can definitely mark the "kick out not used css files in website and blog" task as done.

[2015-01-10 16:34] lenareinhard commented on #105
what's the status here?

[2015-01-10 17:07] verpixelt commented on #105
After I've changed the xml url to hood.ie/feed.xml my RSS reader (Reeder with feedly) is able to find the feed but doesn't display a title, description or any posts at all. Any idea?

[2015-01-16 11:10] badboy commented on #105
http://hood.ie/feed.xml returns HTML first (the default layout).
The problem:

[code]

Change that layout to `null` to disable it and it won't use any and therefore only return the feed content.

[2015-01-16 11:51] verpixelt commented on #105
Thanks @badboy I'll change that later :)

[2015-01-16 12:25] badboy commented on #105
and then I can finally add it to my feed reader again and never miss a TGIF anymore! \o/

[2015-01-16 14:34] verpixelt commented on #105
![rss-fixed](https://cloud.githubusercontent.com/assets/1640079/5777677/14eed2c0-9d95-11e4-9267-1a0672db5725.png)
Aaaaand fixed! Thanks @badboy for the hint ;)

[2015-01-16 14:34] #105 closed, assigned to verpixelt

[2015-01-16 15:34] lenareinhard commented on #105
Yeah, yeah, yeah!
http://media.giphy.com/media/XWKrUYz1N5J7i/giphy.gif

[2015-01-19 21:34] lenareinhard opened #121 "Fix formatting in Offline First blog post"
http://hood.ie/blog/offline-first-and-the-circle-of-web-part-ii-breaking-the-circle.html (please especially look into pictures)

[2015-01-19 21:49] #119 closed, assigned to nobody

[2015-01-19 21:49] #115 closed, assigned to nobody

[2015-01-19 21:51] #99 closed, assigned to zoepage

[2015-01-19 21:52] zoepage commented on #84
@ffffux is the content stored somewhere? :)

[2015-01-19 22:18] lenareinhard commented on #84
No, didn't make it to work on this.

[2015-02-04 15:24] gr2m opened #123 "faq.hood.ie still has the old design"
compare http://hood.ie and http://faq.hood.ie. The FAQ page is still using an outdated design, would be nice if someone could give a hand a fix that <3

[2015-02-04 16:36] verpixelt commented on #123
I get the new design with a missing footer 0_o

[2015-02-04 17:19] zoepage commented on #123
I will take a look tonight!

[2015-02-04 22:30] #123 closed, assigned to zoepage

[2015-02-07 10:23] verpixelt commented on #121
The pictures are not there anymore. Therefor I've removed them.

[2015-02-07 10:23] #121 closed, assigned to nobody

[2015-02-13 10:39] lenareinhard commented on #105
Feed still not working here (not recognized by RSS readers, haven't received any of the latest blog posts in there, and can't even add it to any readers), plus W3C Feed Validator gives me no validation either.

Can anybody reproduce this issue? Or, rather: can anybody aside from @verpixelt confirm that the feed is working now?

[2015-02-13 10:45] NickColley commented on #105
I think you need an empty yaml block, seem to remember null breaking something.

https://github.com/snaptortoise/jekyll-rss-feeds#miscellany

Edit: Maybe not, thought i'd mention it tho'.

[2015-02-13 10:55] verpixelt commented on #105
Does it work for you if you use http://hood.ie/feed.xml ? Http://hood.ie doesn't do a thing for me either.

[2015-02-13 10:57] badboy commented on #105
http://hood.ie/feed.xml works fine in my RSS reader. Also it spits out correct XML.
There are a few problems though with regard to the feed format: http://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fhood.ie%2Ffeed.xml

I guess the protocol is necessary here (`http://`), might be necessary on the alternate link on hood.ie as well

[2015-02-13 11:03] lenareinhard commented on #105
@verpixelt no, none of these work, none of these are validated.

[2015-02-13 11:07] verpixelt commented on #105
Can you try it once more, please. I guess I've fixed it ;) Should work with hood.ie by now.

[2015-02-13 11:13] lenareinhard commented on #105
now it works :) thanks!

[2015-02-13 11:17] verpixelt commented on #105
\o/!!

[2015-02-17 17:25] nichoth opened #127 "Doc request - concise technical explanation"
I've looked through the website, and I would really enjoy a simple lower level explanation of what hoodie _is_ (the tech stack). Does it use PouchDB? What does hoodie give me that I couldn't get using Pouch & Couch by themselves? What design patterns does it use?

[2015-02-18 08:27] zoepage commented on #127
Thanks for the suggestion! I'll take care of that :)

[2015-02-19 10:57] zoepage commented on #127
hey @nichoth!
today i added the concepts: http://docs.hood.ie/en/hoodieverse/hoodie-concepts.html
will add more content soon.

enjoy!

[2015-02-24 14:24] #127 closed, assigned to zoepage

[2015-03-24 20:52] verpixelt commented on #101
We can finally close this issue with https://github.com/hoodiehq/hood.ie/pull/133. Additionally: we now score a 85/100(mobile) and 92/100(desktop)(speed) on the Google PageSpeed Insights, which is currently the best we can achieve.

[2015-03-24 20:52] #101 closed, assigned to verpixelt

[2015-03-24 21:33] badboy commented on #101
Wooooah, that is fast.

![](http://media.giphy.com/media/lRnUWhmllPI9a/giphy.gif)

[2015-03-24 23:19] zoepage commented on #101
WOOHOOOOOOO!!!!!!
![](http://media3.giphy.com/media/5vBUXo7cbTEOc/giphy.gif)

[2015-03-25 08:32] verpixelt commented on #101
😘😎thanks ;)

[2015-03-25 10:42] verpixelt opened #134 "Missing Ligatures in Safari"
Currently we're to "hotfix"-ing the ligature issue b/c of troubles with the base64 font files. This is done by a font-feature-setting which apparently isn't supported in Safari. I'm working on the font files, so we hopefully can close this pretty soon.

[2015-03-25 22:01] verpixelt commented on #134
Solved with 5671331e25b40db7207c352e0f1657d071baaad2 🎉🎊

[2015-03-25 22:01] #134 closed, assigned to nobody

[2015-03-26 09:34] janl commented on #134
Boom! Thank you, this is amazing, the site is _FAST_ :D

[2015-03-26 12:08] verpixelt commented on #134
It's my pleasure! Next step: Woff2 support, which would get us another -30% file size, for modern browsers ;)

[2015-04-09 09:29] finnp opened #137 "Accessibility Issues"
Hey :),

there are a few things that could be improved about the a11y of your website. Have a look at this audit here: http://wave.webaim.org/report#/http%3A%2F%2Fhood.ie . Especially the default contrast of your top nav bar slightly fails AA, so you might want to make that font bigger or darken the orange a bit.

I would love to PR some changes, but your repo is like 140 Mb big and needs forever

[2015-04-09 09:45] verpixelt commented on #137
Hey @finnp thanks for you offer <3. I'll look into the issue with the repository file size. It's the blog media, of two years, which bloats everything up.

[2015-04-09 10:16] janl commented on #137
The file size is due to media on the blog, sorry. We should sign up for this: https://github.com/blog/1986-announcing-git-large-file-storage-lfs

[2015-04-09 10:17] janl commented on #137
I signed us up, let’s see what happens :)

[2015-04-09 10:44] verpixelt commented on #137
That's a good idea but we should clean up this folders anyway. There are 4 versions of every image created by Wordpress, which we used before.

I will have a look into it sometime this week.

[2015-04-11 16:19] #100 closed, assigned to verpixelt

[2015-05-24 17:06] gr2m opened #153 "Hamburger Menu doesn't work"
by @Charlotteis originally posted at https://github.com/hoodiehq/faq/issues/100

[2015-05-24 18:23] gr2m commented on #153
super confused, it's in fact working on the main page

[2015-05-24 18:23] #153 closed, assigned to nobody

[2015-06-26 16:44] janl opened #165 "Newsletter sign up is broken in Safari"
The text box is there, but inactive.

[2015-06-26 16:47] zoepage commented on #165
Works for me...
OS? Browser?

[2015-06-26 16:49] janl commented on #165
Mac OS X.

[2015-06-26 16:51] janl commented on #165
This is caused by AdBlock, nvm.

[2015-06-26 16:51] #165 closed, assigned to nobody

[2015-07-01 19:30] janl opened #167 "Chat iframe on Firefox/Mac is off"
![screen shot 2015-07-01 at 21 29 05](https://cloud.githubusercontent.com/assets/11321/8463091/689c3c98-2038-11e5-82d1-5de139450f0a.png)

We don’t show the logos in any of the other browsers.

cc @espy @zoepage @verpixelt

[2015-07-02 11:07] varjmes commented on #137
Hey @finnp, thank you so much for bringing this to our attention.
I'm sorry that we haven't responded in a while but please know we are thinking about this. I recently became an official contributor to Hood.ie and my almost-complete focus is making hood.ie accessible. Tackling the main website is certainly at the top of my list and I will be using this PR and my own auditing to put together a list

[2015-07-02 11:21] varjmes commented on #167
This is also an issue in Safari and Chrome. It didn't used to be a problem.

[2015-07-02 11:25] janl commented on #167
Found while testing https://github.com/hoodiehq/hood.ie/pull/166 to stop the scrolling.

[2015-07-02 11:25] janl commented on #167
@Charlotteis are you saying you see half a logo each in Safari and Chrome?

[2015-07-02 11:25] varjmes commented on #167
@janl now that I am more aware of the actual issue, I retract my previous comment :)

[2015-07-02 11:28] verpixelt commented on #167
Which page are we talking about?

[2015-07-02 11:28] varjmes commented on #167
@verpixelt hood.ie/chat

[2015-07-02 11:33] espy commented on #167
I think I've got it, gimme a minute.

[2015-07-02 11:33] verpixelt commented on #167
The logos are there in all browsers if you scroll inside the iFrame. We have to set a proper height and disable scrolling.

[2015-07-02 11:36] espy commented on #167
Wait, Stefan changed the color of the button, so we have control over the content of the iframe, right? let's just fix that instead of fiddling around with scroll positions etc.

[2015-07-02 11:40] espy commented on #167
Ok, apparently @boennemann and @christophwitzko are going to re-implement the iframe as a form :)

[2015-07-02 11:40] janl commented on #167
We have the stop scrolling fix here: https://github.com/hoodiehq/hood.ie/pull/166

The problem is now that FF clips it differently than Safari or Chrome.

[2015-07-02 13:00] zoepage opened #170 "update community page"

[2015-07-02 13:01] zoepage opened #171 "add friends page"
- hapi
- couchdb
- nodejs
- travis
  ...

[2015-07-02 13:01] zoepage opened #172 "add video / talks / slides page"

[2015-07-02 13:11] finnp commented on #137
@Charlotteis That sounds really great! Glad to see someone take care of this.

[2015-07-02 16:50] varjmes commented on #30
May I ask if there was any more to do on this? I'd love to help if I can :)

[2015-07-02 19:13] zoepage commented on #30
cc @verpixelt

[2015-07-02 19:54] varjmes commented on #137
@janl @verpixelt We now have git-lfs enabled on this repository, as Jan tells me. Here is how to use it: https://github.com/github/git-lfs#getting-started. I am trying to do it myself, but am having some installation problems, so if someone else could also take a look: that'd be great.

[2015-07-02 20:09] varjmes commented on #137
I got it working. However, it seems that git-lfs will not work retrospectively. That is, when we start tracking the files we want, it will only turn them into pointers when we add new ones. So, we need to find a solution to de-bigify (a very technical word) our repository as it currently is. I believe @janl has some thoughts.

My question is, what file extensions would we like to track for git-lfs

[2015-07-02 20:33] varjmes opened #173 "Implement large file storage and remove large files from this repo"
Hallo!

One barrier to entry for new contributors is the size of this repository. For maximum awesomeitude:tm:, we should reduce this. The solution is two-fold.

**1: Implement git-lfs.**

[Git-lfs](https://git-lfs.github.com) (large file storage) is a way to track large files and make them smaller, by turning them into pointers that point to the larger version of the file on a server. This is an

[2015-07-02 21:10] varjmes commented on #137
I've started to talk about large file storage over here: #173

[2015-07-02 21:20] lewiscowper commented on #173
So would we not be able to update git attributes, then `git rm {{largefile}}`, and then `git add {{largefile}}`?

[2015-07-02 21:26] varjmes commented on #173
Unfortunately; although `git rm` will remove the item from the repository, it will still be in the repositories history and thus doesn't _really_ disappear, continuing to contribute to the bloat.

[2015-07-02 21:30] lewiscowper commented on #173
Ah, that's frustrating.

I found a SO link talking about stuff where the git repo on a per checkout basis was small, but the .git directory/local history was massive: http://stackoverflow.com/questions/5613345/how-to-shrink-the-git-folder

Might have something in there like `git gc` that might be of help. :)

There's also http://stevelorek.com/how-to-shrink-a-git-repository.html which appears to g

[2015-07-02 21:38] varjmes commented on #173
@lewiscowper Looks like it might be worth doing a prune. I don't think that our assets change too much on the main site, but it's worth a go. That second article looks really interesting, thanks!

I too do not feel that I am the best person to do this, but am certainly happy to research/talk about our options/hold someones hand when they do this :)

[2015-07-03 21:01] NickColley commented on #173
How big is the repo at the moment?

I think it's somewhat reasonable from a maintainer's point of view to keep it simple and just have one repo.

From my experience multiple repos is a pain in the ass.

[2015-07-03 21:05] lewiscowper commented on #173
@nickcolley it's not splitting up the repo into two, it's transferring the contents of this repo to a new one with Large File Storage set up from the outset.

We're not technically removing them from the project (if I'm understanding Github's LFS correctly), we're transferring the large files that drag down the weight of the repo, to an alternate remote where they can be downloaded separately.

Fr

[2015-07-04 03:40] boennemann opened #178 "Replace `/chat` slackin-iframe with form tag"
@christophwitzko proposed this.
~~Should be good to go once #169 got merged.~~
Good to go!

[2015-07-04 03:43] boennemann commented on #167
#178

[2015-07-04 03:43] #167 closed, assigned to nobody

[2015-07-04 20:46] varjmes opened #179 "Improvements to chat app tutorial"
- [x] Fix spelling errors
- [x] Add in a couple of missing comments / remove incorrect comments
- [ ] Add in screenshots of how the app should look
- [ ] Guide the user to check out their app in the beginning: `hoodie start`
- [ ] <s>Change the `input type='submit'` to a `<button>`</s> (ignored due to browser support)
- [x] Think about making `hoodie-template-app-chat` accessible, including labels

[2015-07-04 22:11] varjmes commented on #179
I have PR'ed a lot of these. Once these PR's are merged I will make screenshots (as my PR's will change a few visual aspects of the template/tutorial).

[2015-07-04 22:18] varjmes commented on #179
in my tiredness I posted this here, rather than the docs repo. This will be closed soon anyway.

[2015-07-13 15:53] zoepage opened #184 "update showcase"
http://hood.ie/intro/#get-started

[2015-07-17 09:16] zoepage opened #186 "Change success alert to notification"
Right now we have an alert as success notification. @christophwitzko please change that to a proper notification, because it's a not so good UX and also doesn't fit the website UX.

If you have questions how to implement this, please ask @espy for advice.

http://hood.ie/chat/

Also, please don't merge by yourself, if there are changes which no one reviewed.

[2015-07-17 12:57] #186 closed, assigned to christophwitzko

[2015-08-03 07:49] verpixelt opened #189 "Add scss-lint to ensure well written Sass"
Adding scss-lint together with a Git commit hook could help to keep the Sass files from getting messy.

[2015-08-03 08:20] zoepage commented on #189
oh this is a good one. thanks :)

[2015-08-03 08:47] verpixelt commented on #189
I have a implementation of it running in this repo: https://github.com/verpixelt/simple-sass

[2015-08-05 10:22] zoepage opened #190 "[blog] Refused to load the script"
@verpixelt could you please take a look here?
This error message appears on every post-page.

Thanks!

[code]

[2015-08-05 10:23] zoepage commented on #178
this is done right @boennemann & @christophwitzko ?

[2015-08-05 10:24] zoepage commented on #171
http://hood.ie/friends/
Who is still missing?

cc @gr2m @espy ?

[2015-08-05 10:24] boennemann commented on #178
yes :)

[2015-08-05 10:24] #178 closed, assigned to christophwitzko

[2015-08-05 10:24] zoepage commented on #170
- [ ] add @christophwitzko to core team
- [ ] add all new contributors from GH

[2015-08-05 10:25] zoepage commented on #114
So, I guess we can close this?

[2015-08-05 10:25] zoepage commented on #113
Closing this after deprecation.

[2015-08-05 10:25] #113 closed, assigned to nobody

[2015-08-05 10:26] verpixelt commented on #190
Check your ad-blocker. This isn't a website issue.

[2015-08-05 10:26] #190 closed, assigned to verpixelt

[2015-08-05 10:26] zoepage commented on #112
The font is now stored in the localStorage thanks to @verpixelt! :)

We still want the documentation to be offline available. Any suggestions @gr2m ?

[2015-08-05 10:27] zoepage commented on #86
For FW: http://hoodiehq.github.io/hoodie-css/

[2015-08-05 10:27] #86 closed, assigned to zoepage

[2015-08-05 10:28] zoepage commented on #84
We still need this. Who can take care of this?

cc @espy @gr2m @janl @ffffux

[2015-08-05 10:28] #67 closed, assigned to zoepage

[2015-08-05 10:29] zoepage commented on #62
Is there someone who can take care of this?

[2015-08-05 10:29] lenareinhard commented on #114
no, didn't work out as planned, the element still isn't in the blog.

[2015-08-05 10:29] zoepage commented on #61
@espy && @gr2m && @janl

What about the Club? Are we able to finish for 1.0 launch or can we close and open, when we'll work on this again?

[2015-08-05 10:30] #56 closed, assigned to zoepage

[2015-08-05 10:31] zoepage commented on #37
Can we close this now @verpixelt ?

[2015-08-05 10:31] zoepage commented on #31
We did this already, right @verpixelt ?

[2015-08-05 10:31] #29 closed, assigned to zoepage

[2015-08-05 10:32] #27 closed, assigned to zoepage

[2015-08-05 10:32] #20 closed, assigned to zoepage

[2015-08-05 10:32] #5 closed, assigned to nobody

[2015-08-05 10:33] zoepage commented on #114
@verpixelt as you two are both based in Berlin, you might like to take care of it. If not, we can close and re-open, when you have time.

[2015-08-05 10:44] verpixelt commented on #31
Not to my knowledge.

[2015-08-05 10:45] verpixelt commented on #37
Nope we haven't done anything to fix that.

[2015-08-05 10:47] verpixelt commented on #114
Where's the reason in closing and reopening the issue? It will never get fixed if we close it.

[2015-08-05 10:51] zoepage commented on #31
Could you give more information about this topic?

[2015-08-05 10:52] zoepage commented on #37
Could you provide more information here, so maybe someone else can take this task?

[2015-08-05 10:53] zoepage commented on #114
I think, if this is important, it will come back again.
This is why closing makes sense for me, when no one has time to take care of it.

[2015-08-05 10:58] lenareinhard commented on #114
The general idea behind the website concept was to have <aside> elements for all major sections which also get their own animal (see also #62) and then contain the animal png. If #62 happens, #114 will have to happen as well. If there's no more (time for more) animals, all these issues can be closed.

[2015-08-05 12:56] NickColley commented on #112
Booop https://github.com/pouchdb/pouchdb/blob/master/docs/manifest.appcache

Also keep in mind with appcache it will always serve from it's cache first then update itself, so we did the following to tell the user there's an update: https://github.com/pouchdb/pouchdb/blob/master/docs/_layouts/default.html#L202

[2015-08-05 16:06] gr2m commented on #112
I'd say let's tackle the offline thing for next hood.ie. It should be straight forward to do with appcache-nanny, including the update notification

[2015-08-05 16:07] gr2m commented on #61
I'd say let's close and reopen it later, it's not in scope for 1.0

[2015-08-05 16:07] #61 closed, assigned to lenareinhard

[2015-08-05 16:18] gr2m commented on #171
I think the idea was to make URLs like http://hood.ie/and/friends (for the landing page) and then http://hood.ie/and/hapi, http://hood.ie/and/couchdb, http://hood.ie/and/pouchdb, http://hood.ie/and/yet, ...

I think we we start with CouchDB / Hapi / PouchDB that'd be good enough for a start. And then it would be great to add pages for companies we're friends with, and MVC frameworks like Backbone,

[2015-08-05 16:26] zoepage commented on #171
Ah okay :)

Still not sure about the content.

What would be written on e.g.  and/couchdb ?

[2015-08-05 16:27] zoepage commented on #112
Appcache-Nanny was also my thought.
We just need that for docs in first place.

[2015-08-05 17:10] gr2m commented on #171
I think this is probably out of scope for 1.0, so feel free to close it for now.

I think the content pages would look different for CouchDB (a technology that Hoodie uses), &yet (A company and friends that supports us) and Ember (An MVC framework that hoodie place nicely with).

at `/and/couchdb` the content would explain why Hoodie is using it and how.

[2015-08-05 17:43] gr2m commented on #84
Let's leave the issue open for now, we'll get back to it, I'll add it to the 1.0 launch plan

[2015-08-05 17:50] #171 closed, assigned to nobody

[2015-08-05 20:16] gr2m commented on #45
Let's leave it open for now please, I don't want this to be forgotten

[2015-08-05 22:15] zoepage commented on #45
Those are just coding guidelines for the website && the framework. We've done this.

[2015-08-05 22:29] gr2m commented on #45
When you close it, could you please point to the places where it's done? That'd help a lot :)

Are the JavaScript guidelines done, too?

[2015-08-09 13:02] varjmes commented on #62
@zoepage What kind of animals and stories would we like? :)

[2015-08-09 13:23] varjmes commented on #28
Original title: Add ARIA roles and tab index

I've changed the title because to make Hood.ie accessible, it may require more work than just ARIA roles and Tab Indexes.

I will now try and create a list of things that need to be done, so everyone can take part in making Hood.ie accessible :)

[2015-08-09 13:23] varjmes commented on #28
@verpixelt what did you mean by "add TabIndex" by the way, whats the purpose of doing this?

[2015-08-09 13:46] varjmes commented on #28
# ARIA Roles

We need to make sure that the elements within all our `.HTML` pages have their appropriate [ARIA roles](http://a11yproject.com/posts/aria-landmark-roles/), to make the website more accessible for those using assistive devices like screenreaders.

With HTML5 came the introduction of semantic elements (`<header>`, `<article>`) which means the need to use ARIA roles on all our elements

[2015-08-09 13:51] varjmes commented on #28
# Navigating to main content

We have a _lot_ of navigational items in the header that a user must tab through if they are using keyboard-only/ a screenreader. I'm sure that regular visitors to the Hood.ie website would just like to be able to go straight to the main content, so we should implement a [skip link](http://a11yproject.com/posts/skip-nav-links/) for all pages which will take you to the

[2015-08-09 13:59] varjmes commented on #28
# Guide to Accessibility

An accessibility guide should be written to help all contributors think about accessibility from the start when they build components so we do not have to go through the site ever again to do all this work. Accessibility first FTW. The issue for this task is here: https://github.com/hoodiehq/hoodie-css/issues/1
- [x] - Write guide to accessibility https://github.com/hoodi

[2015-08-09 14:04] varjmes commented on #28
# Design

There are a number of improvements that can be made to the design of Hood.ie.
- [ ] - Improve the contrast ratio between elements and text. Particularly were we use a lot of greys
- [ ] - Make sure we have good `:active`, `:hover` and `:focus` states on all our focusable/activable/hoverable elements (like links and buttons)

[2015-08-09 14:06] varjmes commented on #28
# Other
- [ ] - Make sure all images have appropriate `alt` tags - http://a11yproject.com/posts/alt-text/
- [ ] - Ensure all forms are appropriately structured, with labelling for and connect to each input
- [ ] - Use semantic HTML5 elements wherever possible

[2015-08-10 10:31] verpixelt commented on #37
To resolve this issue one has to refactor parts of the CSS. I ran the Google PageSpeed Insights and a bunch of other tests. Our CSS is blocking page rendering.
<img width="1660" alt="critical" src="https://cloud.githubusercontent.com/assets/1640079/9169351/3d4438f6-3f5b-11e5-9685-29152166df0a.png">

Tasks would be:
- [ ] detect above the fold CSS
- [ ] Inline critical CSS
- [ ] load missing bits o

[2015-08-10 10:49] verpixelt commented on #31
There is no solution for responsive images implemented, yet. Hood.ie serves the same image to every device. Right now this isn't that big of an issue since we don't have that much (large) images on the page. But keep in mind e.g. using an image on the blog either looks super blurry on retina or is heavy on mobile connections with the current setup.

[2015-08-10 10:58] zoepage commented on #37
cool, thank you for that! <3

[2015-08-10 17:31] NickColley commented on #37
I've used https://github.com/filamentgroup/criticalCSS with some good success.
- Generate criticalCSS
- Check for cookie for first time visitors
- https://github.com/filamentgroup/loadCSS
- Set cookie and load full CSS file (from the cache) next time.

Next visits you can detect your cookie and just supply the full CSS.

With hoodie there's quite a few pages so what will render above the fold on o

[2015-08-10 19:39] zoepage commented on #37
Depending on all the pages we have to maintain and the very little amount of time we have to finish this talk right now, I'd say we postpone this task again after the 1.0 launch.

[2015-08-11 20:46] pcalves commented on #28
@Charlotteis First of all, great effort, these seem like the makings of a good set of guidelines to follow! You asked about **tabindex**. It's basically a property that indicates if an element is focusable and the order in which they should gain focus as a person presses the tab key. As always, the [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/tabIndex) is pretty

[2015-08-11 21:01] zoetrope69 commented on #28
#mansplain

[2015-08-11 21:39] zoepage commented on #27
added here: https://github.com/hoodiehq/hoodie-css/commit/f0f19bb42ec4146ea9d1768eabcce0d7c400b8f6

[2015-08-11 21:40] zoepage commented on #32
readme will be replaced by the documentation: http://hoodiehq.github.io/hoodie-css/

[2015-08-11 21:41] zoepage commented on #45
We are adding them to the http://hoodiehq.github.io/hoodie-css/

[2015-08-11 21:43] pcalves commented on #28
@zaccolley I'll give you that might have misunderstood the original question, but was my answer really that patronising?

[2015-08-11 21:45] zoepage commented on #59
automated by splitting CSS from HTML / content with http://hoodiehq.github.io/hoodie-css/

This is the first step.
Second step will be to set up a automatic setup for deployment and testing across all repositories. We need to figure out the possible process first.

[2015-08-11 22:01] zoepage commented on #28
To be honest, I think @pcalves answer was great and this is one of the things @Charlotteis asked about.
So I don't see any mansplaining here...?

also @zaccolley, I'd love to see more productive comments. This feels kind of passive-agressive. So please, be nice :) If you are not sure what is okay and what not, please take a look at our Code of Conduct: http://hood.ie/code-of-conduct/

[2015-08-11 22:17] pcalves commented on #28
@zoepage Ugh, now I feel bad for deleting my comment. I guess I was afraid I actually had done something wrong, even when I felt my intentions were good, if that makes sense?

So then, **tabindex**. It's a property that lets the browser know whether an HTML element is focusable. Moreover, it tells the browser in which order elements should be focused as a person tabs through the page. Useful to gi

[2015-08-11 22:25] zoepage commented on #28
@pcalves thank you for putting it up again :)
No worries, if there would have been something odd about it, we could have fixed that together. But anyways, thanks for your explanation!

[2015-08-11 23:04] zoetrope69 commented on #28
yeah I didn't add anything worthwhile to this, sorry gang

[2015-08-12 04:02] varjmes commented on #28
Hi folks!

Though I do know what Tab Index is, having an explanation is great for
anyone else that hopefully comes along to this thread :)

My question was more the "why do we need to manually set this accross
hoodie?". Its generally not a good idea to start manually changing the
source order of elements (potentially) with Tab Index. If there is a
reason, perhaps the solution is something else if

[2015-08-12 07:44] verpixelt commented on #59
Where can I find a ticket to follow this ongoing issue? Where do you document the process?

[2015-08-12 08:22] verpixelt commented on #28
Have you tried e.g. to navigate the index page just with tab? After you've passed the main navigation you jump into the left "row" which isn't the first according to the content flow. The first would have to be the middle one, next the left and than the right. There are a few elements on pages where it would make sense to alter the tab index to get the right content flow.

[2015-08-12 08:39] verpixelt opened #191 "Navigation breaks after "tabing" through it"
In Chrome 44.0.2403.155 on OS X 10.10.4 the right part of the navigation breaks after using tab to navigate it.
<img width="1820" alt="tab-broken" src="https://cloud.githubusercontent.com/assets/1640079/9219871/59dd1dfa-40de-11e5-8999-f291f4e8062a.png">

[2015-08-12 08:57] zoepage commented on #59
We will talk next week through the process and then write down an issue for discussion.

[2015-08-12 09:28] varjmes commented on #28
Honestly, I see no problem with the way that things are tabbed on the main page. For someone interacting with a page, it would be confusing to not go to the left column first and actually start in the center. Visually people read from left to right and I don't think we should change that.

Looking at the HTML source they go left - center - right too.

I of course don't want to dismiss this complet

[2015-08-12 09:37] verpixelt commented on #28
The middle column tells you what this project is all about, the left one how to install it. It doesn't make sense to read the left one first (+ this was just an example).

[2015-08-12 10:29] verpixelt commented on #189
A Grunt task for Scss lint has been added to the https://github.com/hoodiehq/hoodie-css repo inside the gh-pages branch. For now this task just works manually by typing `grunt scsslint` (no pre-commit hook). With the ruleset in place right now this task will throw a ton of errors at you. The solution to this is either refactor the whole CSS or adjust the lint rules accordingly (The latter is just

[2015-08-12 13:25] gr2m commented on #30
Has this been finished? If yes, can you please link to where it's done, and maybe explain it a little? @verpixelt @zoepage

[2015-08-12 14:04] verpixelt commented on #30
If I run the html5 outliner plugin e.g. on the index page I get the following outline which in fact isn't perfect.
![html5-outline](https://cloud.githubusercontent.com/assets/1640079/9225776/850c8164-410b-11e5-9b01-1086597aa42e.png)
If this will be covered within https://github.com/hoodiehq/hood.ie/issues/28 we can close this ticket, reference the accessibility issue and open it as a sub task ther

[2015-08-12 18:59] NickColley commented on #191
Google Chrome Version 40.0.2214.111 (64-bit), Linux Fedora 20 :sheep:

![tabexample](https://cloud.githubusercontent.com/assets/2445413/9233709/7fdec5c8-412c-11e5-9a06-889cdf84b9d5.gif)

[2015-09-02 08:30] busyxin opened #192 "Fix Cheatsheet broken link on get started page"
The step 6 from the get started page is displaying two broken links to the cheat sheets

[2015-09-02 08:35] busyxin opened #193 "Fix header link to Docs from FAQ page"

[2015-09-02 08:43] varjmes commented on #193
Hi @busyxin. The FAQ page is a separate app: https://github.com/hoodiehq/faq so the fix will likely go in there :)

[2015-09-02 08:44] varjmes commented on #192
Hi @busyxin! This will likely be an issue with https://github.com/hoodiehq/hoodie-css where the presentations haven't been added to the repository yet! Looks like one that @zoepage can help with :)

[2015-09-02 09:11] busyxin commented on #193
Hey @Charlotteis thanks! Will have a look there.

[2015-09-02 09:44] zoepage commented on #192
@busyxin the cheat sheets can be found here: https://github.com/hoodiehq/hood.ie/tree/gh-pages/dist1/presentations

We still need to decide if we'll have a dist folder with website content and if, how it's called.
Any thoughts on that @espy @Charlotteis @Althaire?

[2015-09-02 10:30] varjmes commented on #192
It's good to have a central store, though I don't know if hoodie-css or even the main hood.ie repo is the right place for it. What about creating a new repo to store these things and link to them from wherever. Means people can easily add their presentations without having to do the whole setup process of the main hood.ie repo. @zoepage

[2015-09-02 13:15] #193 closed, assigned to busyxin

[2015-09-02 16:45] zoepage commented on #192
I don't think adding another repository will be a good idea.

We thought about to options before.
1. Content which could / should be accessed from more than one repository -> hoodie-CSS
1. Content accessed from just one repository -> in specific repository.

[2015-09-02 17:05] varjmes commented on #192
Okay then, I'm happy enough :dancer:

So to close this issue we need to replace the links with the `dist1` links?

[2015-09-02 18:12] gr2m opened #194 "Automatically test for insensitive wording using alex"
see http://alexjs.com/

[2015-09-02 23:09] zoepage commented on #192
We first need to decide on the folder structure. This is Kevins job now.

[2015-09-03 07:47] varjmes commented on #192
ok, thanks for clarification :)

[2015-09-03 08:12] NickColley opened #195 "FAQs Github rate limit hit"
http://faq.hood.ie/#/question/38210291

https://api.github.com/repos/hoodiehq/faq/issues?labels=answered&state=all

[code]

[2015-09-03 08:58] zoepage commented on #195
A very good catch @nickcolley. Thank you.
@boennemann could you take care of this? :)

[2015-09-04 03:30] thomasvs opened #196 "On Linux, when couchdb is not installed, starting hood.ie fails non-obviously because it starts launch-couchdb-from-app.sh which assumes OSX"
It took me a while to realize that I simply hadn't installed couchdb yet on this new computer.  A lot of headscratching that could have been solved by the script simply erroring out on non-macosx if couchdb is not available.

[2015-09-04 04:10] gr2m commented on #196
@thomasvs sorry for all the trouble :/ We are working on a new hoodie-server which already dropped the CouchDB dependency altogether, it's starting a PouchDB Server instance by default. It's not ready for prime time yet, but that's what we are focusing on right now.

But we can keep this open for others who run into the same problem for the time being

[2015-09-05 11:54] janl commented on #196
I’ve raised an issue with node-multicouch that explains how to fix the underlying. Let’s keep this open until Hoodie behaves correctly.

[2015-09-09 21:45] gr2m opened #199 "RSS feeds for jekyll blogs"
Seems to be easier now. See https://github.com/blog/2053-easier-feeds-for-github-pages

[2015-09-15 14:07] boennemann commented on #195
Is this something that appeared during development, or during "real-world" use?

[2015-09-15 14:10] zoepage commented on #195
As far as I remember, it's a live bug. Check the console when on website. :)

[2015-09-15 18:07] NickColley commented on #195
It happened as soon as I visited the page.

[2015-09-22 18:31] ktzanev opened #200 "Dead link to Hoodie Cheat Sheet on itro page"
Everything is in the title ;)

this link :
    http://hoodiehq.github.io/hoodie-css/src/presentations/hoodie-cheat-sheet.pdf
is not valid anymore.

[2015-09-25 21:32] varjmes commented on #200
Closing this in favour of #192. Thank you for noticing this, @ktzanev!

[2015-09-25 21:32] #200 closed, assigned to nobody

[2015-10-02 08:41] varjmes commented on #192
There are broken links all over the site because of this folder renaming, check the references on this issue for other examples :)

[2015-10-09 21:20] courajs opened #202 "Broken images on why we have a dreamcode"
http://hood.ie/blog/the-hoodie-why-1-we-have-a-dreamcode.html has several broken images

[2015-10-13 14:01] varjmes commented on #202
Hi @AaronSikes, I don't seem to see any broken images here. As far as I can see there are two images and they are both showing up? Of course, I may be missing something, happy to help if I have :)

[2015-10-13 14:02] varjmes commented on #202
Please ignore that comment! This is indeed an issue, closing this one in favour of this issue here: #192. Thank you for letting us know!

[2015-10-13 14:02] #202 closed, assigned to nobody

[2015-10-14 11:57] gilmoreorless commented on #192
I found my way to this issue after looking at the [Contributing to Hoodie](http://hood.ie/blog/contributing-to-hoodie.html) blog post. The images there are broken because they were in the `dist` directory.
I realised that it wouldn't be a quick fix to make the images work again, as the `dist` renaming seemed to be part of a much bigger piece of work. However, as it stands there are a lot of broken

[2015-10-14 21:14] lenareinhard opened #204 "JS error on /events prevents loading events list"
Uncaught TypeError: eventItem.date.getTime is not a function
in events.js:138

Events list is not loading anymore now.
![image](https://cloud.githubusercontent.com/assets/3472712/10497979/5006e1b8-72c9-11e5-810b-c2b896bafe31.png)

[2015-10-15 07:04] zoepage commented on #204
cc @espy :)

[2015-10-21 09:52] verpixelt commented on #192
All content relevant links are now pointing to the dist1 folder inside the hoodie-css repo.

[2015-10-21 09:52] #192 closed, assigned to busyxin

[2015-10-21 12:29] lewiscowper commented on #204
I've done some digging, and it seems like something somewhere has changed the format of the dates that we're getting. What (I think) we need is `eventItem.date` to be `new Date(yyyy,mm,dd)`, but all we're getting through is `Date(yyyy,mm,dd)` and because that's a string, getTime is not a function on it. I would love to try and make sense of the code to fix it, but I think someone who's done more w

[2015-10-21 14:11] espy commented on #204
That seems to have done it :)

[2015-10-21 14:11] #204 closed, assigned to espy

[2015-10-25 11:59] varjmes commented on #192
Thank you all! :)

[2015-10-26 14:36] espy opened #205 "Events page: dates broken in Safari"
![bildschirmfoto 2015-10-26 um 15 36 38](https://cloud.githubusercontent.com/assets/391124/10731798/5751f160-7bf7-11e5-9745-acd8f63e290e.png)

[2015-11-12 15:27] #205 closed, assigned to espy

[2015-12-06 11:42] varjmes opened #215 "Code of Conduct inconsistencies"
# The Issue

From: http://hood.ie/code-of-conduct/

---

---

Three paragraphs about what we won't allow, but none of them are the same. The top one is the first thing you see and it is not as detailed as other ones. I wanted to add "gender identity and expression" and was sad that we didn't mention it, then saw we **did** say it if I scrolled a lot further down, and then if I scrolled even furthe

[2015-12-10 19:06] janl opened #217 "Link underlines in headlines are off"
Latest Safari on Mac:

![screen shot 2015-12-10 at 20 05 45](https://cloud.githubusercontent.com/assets/11321/11725313/6a14618e-9f79-11e5-9e88-07ba63e6c7f3.png)

On: http://hood.ie/blog/we-have-been-busy.html

[2015-12-10 19:24] varjmes commented on #217
Already an issue open here: https://github.com/hoodiehq/hoodie-css/issues/42

[2015-12-15 21:28] mkoppanen commented on #173
Hey,

happened to see a tweet referencing this issue. Maybe the following would be of use: https://rtyley.github.io/bfg-repo-cleaner/

[2015-12-15 21:30] KrofDrakula commented on #173
@mkoppanen As was said in the issue, the point is not in purging old files, but have large blobs excluded from the repo so that they're still able to be checked out (preserving history) but hosted elsewhere for a smaller download. That way you have the entire history, but have large blobs downloaded from external storage (git-lfs).

[2015-12-15 21:51] KrofDrakula commented on #173
OK, having had a Twitter conversation on the topic, it seems that the following approach should be valid for the task at hand:
1. freeze the original repo to prevent adding history after migration;
2. create a new empty repository and commit the git-lfs rules as the first, root commit;
3. export the existing branches as a series of patches from the current repository;
4. replay the commits on the

[2015-12-16 07:38] rtyley commented on #173
Since version v1.12.5,  the BFG has supported converting Git repos to git-lfs format:

[code]

https://github.com/rtyley/bfg-repo-cleaner/releases/tag/v1.12.5

[2015-12-16 08:44] varjmes commented on #173
Thank you @KrofDrakula! :sparkles:

[2015-12-16 10:49] rtyley commented on #173
I did some quick tests using the BFG - if you transfer all `*.zip`, `*.mov`, `*.png`, & `*.jpg` out of your repo, your Git packfile size will go from 186M to 16M, which is a pretty good saving, but bear in mind that Git LFS does come with some caveats that may mean it's not your best choice right now:
- Git LFS on GitHub [doesn't support public forks right now](https://github.com/github/git-lfs/is

[2015-12-16 11:26] varjmes commented on #173
This concerns me, @janl ?

[2015-12-16 15:31] gr2m commented on #173
please coordinate with @lewiscowper @verpixelt et team who are currently working on the website I think? If we loos git history, this could cause headaches, just want to make sure :)

[2015-12-16 15:34] lewiscowper commented on #173
@gr2m We won't be editing anything more than HTML inside this repo, so LFS shouldn't (I hope) affect anything we need to do, at least as far as I understand it.

[2015-12-16 17:54] KrofDrakula commented on #173
Seems like the migration process is covered by @rtyley. It really just boils down to what your decision re: the git-lfs hosting is. You could consider hosting your own git-lfs server on S3 which could turn out to be cheap enough to facilitate your use case as an open source project (depending on bandwidth, obviously), but that's out of scope of what is being discussed here.

[2015-12-17 00:13] rtyley commented on #173
In the issue definition you've got two parts:
1. Implement git-lfs
2. Remove large files from the repository

...depending on what infrastructure you've got available, and what dev pipeline you want to have, it might be reasonable to consider just doing the second one: removing the large files. In the case of your repo, the main contributors to size are `.png`s & `.jpg`s - they account for 116M of

[2016-01-14 18:06] ramstein74 opened #222 "does not work on windows ?"
![image](https://cloud.githubusercontent.com/assets/1210858/12332985/7598f278-bae9-11e5-9158-e55ba75a15cc.png)

[2016-01-14 23:55] gr2m commented on #222
I can’t help debugging, but it definitely works for other Windows users.

We are working on a new version, can you try if you can start that?
https://github.com/hoodiehq/hoodie-app-something-tracker

[2016-01-15 07:52] ramstein74 commented on #222
it works but if i reload the page is empty of records.
I expected pouchdb to be used.
I need an offline first app.

thank you
António

2016-01-14 23:55 GMT+00:00 Gregor Martynus notifications@github.com:

[2016-01-23 17:34] varjmes opened #223 "[Accessibility] Give the Hoodie Logo meaningful alternative text"
# The Bug :bug:

When navigating through the Hoodie website with assistive technology (AT), the logo image has no contextual information, meaning that nothing will be read out that is useful in letting us know what the image does (it links to the home page).

Using OSX Voiceover and tabbing to the image, you will hear `link slash banner 1 item`. Now, I'm sure
that seasoned users of AT will know th

[2016-01-23 18:47] gr2m commented on #199
looks like http://hood.ie/feed.xml works now :+1: thanks @antoinelyset for checking

[2016-01-23 18:47] #199 closed, assigned to nobody

[2016-01-23 18:58] antoinelyset commented on #199
For the record,

This is what the current feed looks like (whole articles with images too) :

![rss-hoodie-custom](https://cloud.githubusercontent.com/assets/1465371/12532084/3ff025b4-c20b-11e5-967c-1eddc221865b.png)

This is what it _could_ look like (titles and excerpts) :

![rss-jekyll-feed](https://cloud.githubusercontent.com/assets/1465371/12532085/3ff078ac-c20b-11e5-8856-253faf0e1d13.png)
I

[2016-01-25 13:10] stevedotmt commented on #223
I will take this later this week. Can we use the alt tag of "Hoodie Logo linking to Homepage"?

[2016-01-25 13:25] KittyGiraudel commented on #223
Should be fixed with https://github.com/hoodiehq/hood.ie/pull/224. :)

[2016-01-25 15:32] chrisdemars commented on #223
I too wanted to work on this. Any other a11y issues surfacing?

[2016-01-25 16:58] chrisdemars commented on #223
Nevermind, @SteveAzz has first dibs.

[2016-01-25 17:00] varjmes commented on #223
@SteveAzz sorry Steve, it looks like someone else got there before you.
@HugoGiraudel to encourage folks new to programming / making PRs we tend to let the first person who responds to the issue, take the issue. But as you've already done the work, I'm happy to accept this. Just a note for the future. And thank you for the work!

@SteveAzz, @chrisdemars I will be writing future accessibility issue

[2016-01-25 17:01] KittyGiraudel commented on #223
@Charlotteis Sorry.

[2016-01-25 17:08] chrisdemars commented on #223
Sounds like a plan.

[2016-01-25 17:30] #223 closed, assigned to nobody

[2016-01-25 20:39] chrisdemars commented on #31
Is this issue still open?

[2016-01-25 21:32] stevedotmt commented on #223
Awesome thanks, Good job @HugoGiraudel

[2016-01-26 10:25] espy commented on #31
Yes, but we haven't found a feasible method of serving adaptive images (this is what this is for) from GH-Pages' Jekyll. I've thought about using something like [Imgix](https://www.imgix.com), because it serves different file sizes per device automatically, but I'm not sure whether this is overkill or not, since it also makes adding images more complex.

If you have any good ideas, let's hear them

[2016-01-26 10:47] NickColley commented on #31
You could do an audit of your current images, if there's not too many you could just manually create variable sizes and use `srcset` or `<picture>` etc.
This would remove the need to do any server-side logic / CDN magic.

[2016-01-26 13:37] chrisdemars commented on #31
What about using the srcset attributes on the img tag to serve up different size images per resolution?

[2016-01-26 15:00] varjmes commented on #223
No need for apologies! Thank you for your work :sparkles:

[2016-01-26 15:00] varjmes commented on #223
^ @HugoGiraudel

[2016-02-22 23:20] gr2m opened #229 "Headings broken in blog"
seen in
- http://hood.ie/blog/meet-the-hoodies-jenn-turner.html
- http://hood.ie/blog/Charlotte-Spencer-meet-the-hoodies-2.html
- http://hood.ie/blog/Alex-Feyerke-meet-the-hoodies-1.html

Odd, I’m quite sure this worked before?

[2016-02-22 23:27] NickColley commented on #229
Not sure but I think stricter markdown parsers require a space between the # and text.

Those look like `###*What’s your favourite animal?*`

Maybe the jekyll version changed when deploying?

[2016-02-23 00:42] gr2m commented on #229
yes, tested it locally, that fixed it. I’ve also sean heading, this fixes it

[code]

There are also headings ending with `*###` – no idea where this came from.

@nickcolley can you fix the post and maybe check if there are others? I’m heads down on other things rn

[2016-02-23 01:12] gr2m opened #230 "Add Edit button"
As we use [jekyll](http://jekyllrb.com/) for http://hood.ie/, all pages can be directly edited on GitHub. For example, the content of http://hood.ie/community/ can be edited here: https://github.com/hoodiehq/hood.ie/edit/gh-pages/community/index.html (You need to be signed in)

To make it simpler for visitors to fix a typo and help with improving our site in general, we would like to add an edit b

[2016-02-23 01:40] NickColley commented on #229
Sure I'll look at this asap.

[2016-02-23 08:54] espy commented on #230
That's totally on my list since I saw that Ember does it too (pencil icon on the right):

![bildschirmfoto 2016-02-23 um 09 53 24](https://cloud.githubusercontent.com/assets/391124/13246343/5838787c-da13-11e5-853a-3c4e4dfe5761.png)

Good idea!

[2016-02-23 11:43] NickColley commented on #230
We do something similar for PouchDB:

http://pouchdb.com/guides/

https://github.com/pouchdb/pouchdb/blob/master/docs/_layouts/default.html#L74

https://github.com/pouchdb/pouchdb/blob/master/docs/_includes/edit_button.html

This way you can turn it on and off depending on the page using frontmatter.

[2016-02-23 20:10] jennwrites opened #231 "Update Footer links and language"
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :)

---
### :bug: The Bug

Not technically a bug :relaxed: more of an update! We need to update the footer across the whole site: h

[2016-02-23 23:13] kazekagegaara commented on #231
I'd like to take this, if there's no one else.

[2016-02-23 23:16] NickColley commented on #231
@kazekagegaara that'd be awesome thanks, I've updated the post to say you're working on this! :)

[2016-02-23 23:26] kazekagegaara commented on #231
Please review.

[2016-02-24 00:05] jennwrites commented on #231
Just catching up, looks great @kazekagegaara! Thank you :tada:

[2016-02-24 00:05] #231 closed, assigned to nobody

[2016-02-24 00:08] kazekagegaara commented on #231
Thank you letting me contribute!

[2016-02-24 00:09] NickColley commented on #229
https://github.com/hoodiehq/hood.ie/pull/233

[2016-02-24 00:27] jennwrites opened #234 "Updates to site in preparation for Camp Release announcement"
As we get closer and closer to the Camp Release (formerly Tent Release) we need to address some items on the current site that need updating before we begin presenting the [road to Hoodie 1.0](https://github.com/hoodiehq/discussion/issues/88) to the world.
## hood.ie/intro
- [ ] Remove references to plugins
- [ ] Remove references to iOS

Under the `HOODIE GIVES YOU A BACKEND FOR ALL YOUR APPS:` h

[2016-02-24 00:36] NickColley commented on #234
When removing any references to the previous API, do we consider versioning it for any users using the previous version of hoodie?

[2016-02-24 03:45] gr2m commented on #234
we make separate issues for docs. One idea is that we keep both around. If new docs are not done yet, we add a note to the top of the page saying that this is for the old Hoodie and that we need help to update the page to the new hoodie. And if the docs page is on the new Hoodie, we add a note with a link to a backup page with docs on the old Hoodie.

We will do versionin in future, but probably n

[2016-02-24 10:22] #229 closed, assigned to NickColley

[2016-02-29 17:52] gr2m commented on #234
I’ll prepare a PR for the `/contribute` page @renrutnnej @janl

[2016-02-29 19:13] gr2m commented on #234
see https://github.com/hoodiehq/hood.ie/pull/236 for `/contribute` updates

[2016-03-01 17:37] #215 closed, assigned to nobody

[2016-03-02 01:31] crswll opened #237 "Strange link on site."
I was clicking around and noticed on

http://hood.ie/intro/#get-started

to the left of the **TAKE A LOOK BEHIND THE MAGIC** section the link for "Work' is linking to some streaming thing and trying to force you to download stuff and bring you down a rabbit hole to some really weird stuff.

[2016-03-02 03:24] #237 closed, assigned to nobody

[2016-03-02 03:24] gr2m commented on #237
cheers :+1:

[2016-03-02 15:14] crswll commented on #237
No problem!

[2016-03-02 19:11] jennwrites commented on #234
Does your email to Carolina qualify as this commission @gr2m?

[2016-03-02 19:48] jennwrites opened #238 "Add an alumni section to the contribute page"
Part of https://github.com/hoodiehq/hood.ie/issues/234
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---
### :computer: The Task

In preparation for the Camp Release

[2016-03-02 19:55] jennwrites opened #239 "Add current contributors to community page"
Fixes https://github.com/hoodiehq/editorial/issues/68
Part of https://github.com/hoodiehq/hood.ie/issues/234
### :octocat: Starter Issue

We would like to take the opportunity to invite someone who did not yet contribute to Hoodie to work on this issue. Follow [@YourFirstPR](https://twitter.com/yourfirstPR) on Twitter for more of these issues across many open source projects :relaxed:

---
### :co

[2016-03-02 20:00] jennwrites opened #240 "Make “Contributors” section dynamic: read out from GitHub, sort by last contributed"
Part of #234

In preparation for the Camp Release we are trying to update the hood.ie site. This specific task involves updating the Hoodie community page to reflect our current contributors list. :dog:
- [x] Claim this issue (@valeriecodes)
- [ ] Go to the `https://github.com/hoodiehq/hood.ie/blob/gh-pages/community/index.html`

I'm not sure what else to say here but there has to be a way to pull

[2016-03-02 21:06] gr2m commented on #238
:bulb: idea:
maybe we could add paragraph to each alumni describing what they contributed to Hoodie?

[2016-03-03 03:43] chrisdemars commented on #28
Is there still room for this to be worked on?

[2016-03-03 14:27] varjmes commented on #28
@chrisdemars yes, almost no progress has been made here due to life, work and health.

[2016-03-03 15:13] chrisdemars commented on #28
Okay, I will start looking in to this issue.

On Thu, Mar 3, 2016 at 9:27 AM, Charlotte Spencer notifications@github.com
wrote:

[2016-03-03 17:09] gr2m commented on #28
that’s super awesome, thanks @chrisdemars :+1:

[2016-03-05 10:24] varjmes commented on #238
Maybe we do this issue first, and then create a separate issue for CONTENT in the editorial repo? Because I think this can be done by someone who doesn't necessarily like writing :)

[2016-03-05 17:47] gr2m commented on #238
Agree :)

[2016-03-05 18:41] jo-porter commented on #239
Howdy :) I'll take a run at this one, if I may?

[2016-03-05 18:45] gr2m commented on #239
Howdy! Issue is all yours – welcome at Hoodie :wave: :dog:

[2016-03-05 20:19] gr2m commented on #41
To give some background here: We had the idea of a "Hoodie Club" which you could join as a member to support the community financially, but we never got to finish it.

I close this due to no activity

[2016-03-05 20:19] #41 closed, assigned to nobody

[2016-03-05 20:20] #45 closed, assigned to nobody

[2016-03-05 20:21] gr2m commented on #62
we are making separate issues on the editorial repo now:
- https://github.com/hoodiehq/editorial/issues/64
- https://github.com/hoodiehq/editorial/issues/65
- https://github.com/hoodiehq/editorial/issues/66

stay tuned :)

[2016-03-05 20:21] #62 closed, assigned to nobody

[2016-03-05 20:36] gr2m commented on #196
Has this been resolved? If not can we move it to https://github.com/hoodiehq/node-multicouch to keep issues here related to the website only?

[2016-03-05 20:37] #222 closed, assigned to nobody

[2016-03-05 20:38] gr2m commented on #222
We resolved that issue meanwhile, and created a follow up issue for a related problem here: https://github.com/hoodiehq/hoodie-app-tracker/issues/19

[2016-03-05 20:39] gr2m commented on #234
Yes, thanks :) I checked off that issue

[2016-03-07 16:44] janl commented on #196
This has been fixed in https://github.com/hoodiehq/node-multicouch/commit/3c0588db6bee25c94b34b82585aa896626698901

[2016-03-07 16:49] gr2m commented on #196
awesome, thanks :+1:

[2016-03-07 16:49] #196 closed, assigned to janl

[2016-03-08 22:40] valeriecodes commented on #240
I'll take this :tada:

[2016-03-10 21:51] gr2m commented on #240
Al yours Valerie :tada:

[2016-03-12 14:01] bartw commented on #230
I'd like to try to implement this.

But I'm having troubles getting the site working on my machine.
The scss files won't compile and it seems that head.html contains a link to the css on hoodiehq instead of something variable.

Anybody got some pointers?

[2016-03-12 17:02] gr2m commented on #230
@bartw thanks Bart!

what ruby version do you have installed (`ruby -v`)? You might need to update to the latest. Then you need to install jekyll and 2 plugins

[code]

and then, in theory, you should be able to do `jekyll serve --watch`. If you get any errors, can you post them here?

[2016-03-14 22:31] gr2m opened #254 "Blog post: a new kind of open source event"
Hello Editorial Team 👋

I will co-host a "Welcome to Open Source" event / workshop in Atlanta in April, and I wrote a blog post to introduce the idea behind it to the world, and also to send it out to other Open Source projects so that they can participate. I’ve started a Pull Request to our blog here:
http://www.meetup.com/Jr-Dev-Mentoring/events/228951389

[2016-03-14 22:31] gr2m commented on #254
lol wrong repo

[2016-03-14 22:31] #254 closed, assigned to nobody

[2016-03-16 18:53] matt-allan commented on #240
Not sure if you found it, but Github will pull in repository automatically:

https://help.github.com/articles/repository-metadata-on-github-pages/

You can pull in this gem to get it to work locally:

https://github.com/jekyll/github-metadata

[2016-03-28 15:58] chrisdemars commented on #240
If I contribute in any way, will I be featured?

[2016-03-28 16:18] gr2m commented on #240
@chrisdemars not sure what you mean with "featured"? We love Hoodie’s (new) contributors and give shout outs on twitter and our blog

[2016-03-28 16:19] chrisdemars commented on #240
@gr2m Doesn't the contributors section have to do with everyone who helped work on the project?

[2016-03-30 02:14] chrisdemars commented on #28
@Charlotteis @gr2m I just cloned the repo to my machine tonight, I am going to work on some of these a11y issues throughout the week. Is it okay to submit small PR's or one big one?

[2016-03-30 02:56] chrisdemars opened #268 "localhost not working"
I cloned the repo and ran npm install and grunt, I opened a browser at localhost:4000 and :1337 and I have been getting errors. What am I doing wrong?

[2016-03-30 03:18] NickColley commented on #268
hey @chrisdemars

What errors are you seeing? :)

[2016-03-30 08:20] sxosxo commented on #238
Hi! I'm happy to take this one.

[2016-03-30 09:23] finnp commented on #238
@SonjaHeinen Great :) I've updated the post to show that you are working on this. Let us know if you have any questions!

[2016-03-30 10:03] sxosxo commented on #238
@finnp Thanks. Well, I'm pretty sure the code I just wrote is fine. However, I'm running into quite strange Github magic that makes the changes look like a brilliant mess. Not sure if I should submit anyway..?
Hope these screenshots explain my issue:

![githubmagic](https://cloud.githubusercontent.com/assets/11015014/14138751/34515cd0-f66f-11e5-92a1-142ebd3ad769.jpg)

[2016-03-30 12:07] chrisdemars commented on #268
The first error was a "cannot /get" I believe, and the second was a page
error. Sorry I can't send any screen shots, I am at work right now. I think
I might need some guidance as how to contribute to this project. I was
going to work on some accessibility stuff, but being a future-proof dev, I
don't want to break anything lol.

On Tue, Mar 29, 2016 at 11:18 PM, Nick Colley notifications@github.com

[2016-03-30 14:03] finnp commented on #238
Hey @SonjaHeinen, this looked like a Wat to me too, but it's not a problem. It's just that GitHub detected the changes differently than you actually did. The end result is the same. If you delete lines 28 to 45, it is the same result as deleting 31 to 48. This is because the lines 28 to 30 are the same as 46 to 48. Do you understand what I mean? I'm typing this in mobile, so sorry if my explanatio

[2016-03-30 14:11] sxosxo commented on #238
@finnp Yeah. I figured that's what happened. In that case, I'm curious how the code review turns out ;-)

[2016-03-30 15:35] gr2m commented on #28
@chrisdemars small PRs are perfect, thanks :+1:

[2016-04-07 13:37] sebbel commented on #268
hey @chrisdemars, did you manage to get it running with upgrading jekyll?

[2016-04-07 13:46] chrisdemars commented on #268
I upgraded but I haven't even tried yet.

On Thu, Apr 7, 2016 at 9:37 AM, Sebastian Pancia notifications@github.com
wrote:

[2016-04-10 12:20] varjmes commented on #240
If you've contributed a PR to any of our projects once or twice, Gregor tends to add people to the Hoodie organisation as a contributor. With this PR that would mean you'd show up somewhere on the list, yes.

[2016-05-12 09:54] gr2m commented on #239
PR is ready her: https://github.com/hoodiehq/hood.ie/pull/252

[2016-05-12 09:54] #239 closed, assigned to nobody

[2016-05-12 09:56] gr2m commented on #238
@SonjaHeinen hey Sonja, did you submit a pull request? Do you need any help to finish things up?

[2016-05-12 12:42] sxosxo commented on #238
@gr2m Thought I made a pull request weeks ago o_0
Currently, not sure where the code went...

[2016-05-12 12:54] gr2m commented on #238
@SonjaHeinen it’s here: https://github.com/SonjaHeinen/hood.ie/tree/patch-1

I think you missed to click the "Start Pull Request" button at the end, it’s a bit confusing, I miss that too at times

[2016-05-20 16:47] saiberz opened #289 "Broken link"
This link https://github.com/snnd/todomvc-on-hoodie from
https://github.com/hoodiehq/hood.ie/blob/823d68e8af7ec57fb2fff312a61ad7ad4ec32b0c/intro/index.html#L243
is not working.

[2016-05-20 16:49] saiberz commented on #289
I've found this repo that has the same name and author as contributor but in another github account:
https://github.com/jspenc72/todomvc-on-hoodie
Could i submit a PR changing this link?

[2016-05-20 16:52] gr2m commented on #289
Absolutely, thanks! PRs are always welcome :)

[2016-05-20 17:53] #289 closed, assigned to nobody

[2016-06-03 18:48] gr2m opened #296 "issue with font on blog"
@danielberndt mentioned that the font on our blog could be improved for non-retina displays
- https://twitter.com/D40B/status/738370978951073792
- https://twitter.com/D40B/status/738371367901532160

[2016-06-06 10:48] NickColley commented on #296
Could consider rendering only headings with the custom font.

[2016-06-07 10:39] verpixelt commented on #296
I'd love to see screenshots of a non retina screen if possible. Changing the font on the blog/the entire website is a rather big operation and imho not worth it.

[2016-06-07 10:57] verpixelt commented on #268
Hey @chrisdemars please try again and see if it works. Was able reproduce it on my machine and upgrading resolved it. I will close the issue for now. Please comment, or contact us on Slack if you need help to get it running on your machine.

[2016-06-07 10:57] #268 closed, assigned to nobody

[2016-06-07 10:57] #217 closed, assigned to lewiscowper

[2016-06-07 10:58] #191 closed, assigned to nobody

[2016-06-07 11:02] verpixelt commented on #31
I'd close that issue. The most image heavy page we have is our community page and even without any particular image solution this page is still < 800kb.

[2016-06-07 11:02] #31 closed, assigned to nobody

[2016-06-07 11:04] verpixelt commented on #37
By now the CSS has moved to a separate repo and how we proceed from here is sill not defined. I will close that issue now bc, there will be a lot of changes on how we gonna use the CSS no matter what.

[2016-06-07 11:04] #37 closed, assigned to nobody

[2016-06-07 11:04] danielberndt commented on #296
Here's a screenshot from a recent chrome window on my external monitor using OS X 10.11.5.

![blog-digital-screenshot](https://cloud.githubusercontent.com/assets/856386/15855340/378ddaba-2caf-11e6-946a-ddbce07b9ff0.png)

As examples have a look at the two `ll` from the initial `Well`, and at the horizontal line of any `e`. Not sure whether the font lacks proper hinting, or it is a general issue wi

[2016-06-07 11:08] danielberndt commented on #296
Just noticed: seeing the screenshot on a retina screen certainly gives the wrong impression since the image gets blurred. So I recommend downloading it, and zooming into it, like this:

<img width="276" alt="screen shot 2016-06-07 at 13 07 40" src="https://cloud.githubusercontent.com/assets/856386/15855627/d45091ca-2cb0-11e6-9a2c-2770a01f6063.png">

[2016-06-20 13:07] varjmes commented on #173
Does this help as at all? https://github.com/blog/2163-import-repositories-with-large-files

if we deleted and reuploaded and put files into LFS

[2016-06-21 08:59] janl opened #303 "[Blog Post]: Beyond Progressive Web Apps Part 3"
Hey all, here is part 3 of the beyond PWA’s series. It is as of yet unedited (unlike the other two), and I’d love your help shaping this it can be published tomorrow or Thursday, EU morning time.

Here is a Google doc that you should all be able to comment on: https://docs.google.com/document/d/1qyrH0r4jPV9JJ-2maPpdY7ErCcY4JpKRsAGY5NkDW0w/edit#heading=h.wn5yk8z6mvar

Thanks all for your help <3

[2016-06-21 14:21] jennwrites commented on #303
I left suggestions and comments.

This has been a fun series because now I understand how it works (!!!) even if I'll never use it, lol

[2016-06-22 08:36] janl commented on #303
@renrutnnej thanks so much! And you never know! ;)

Closing in favour of PR: https://github.com/hoodiehq/hood.ie/pull/304

[2016-06-22 08:36] #303 closed, assigned to nobody

[2016-07-08 14:18] mikestreety opened #309 "Set up instructions miss a step"
Hello!

Was just looking at Hoodie and thought I would checkout the prerequisites (http://docs.hood.ie/en/start/) - I read the first sentence and with having node, couchdb and git installed clicked on the "skip right ahead" link (http://docs.hood.ie/en/start/getting-started/getting-started-1.html).

This jumps straight into calling a `hoodie` command - after a bit of hunting I found that it got in

[2016-07-19 15:57] espy opened #312 "RFC: hood.ie redesign"
## What's going on? 🤔

We'd like to redesign hood.ie, for a variety of reasons (see below). We'd like your input before we get started.
## Why? 😱

When we launched the current, second version of hood.ie, we had a larger team and really ambitious goals for the website. The first version had been a quick afternoon hack, basically one enormous page that included everything, and we'd always meant to r

[2016-07-19 16:02] NickColley commented on #312
I think this is a great idea, I agree that the current site is really complicated and with a lot of content.

It'd be good to see this done from a user first approach, let me know if you want any help with that. 👍

[2016-07-19 16:06] chrisdemars commented on #312
I think it is a good idea as well and I would love to help out.

On Tue, Jul 19, 2016 at 11:57 AM, Alex Feyerke notifications@github.com
wrote:

[2016-07-19 16:10] toh82 commented on #312
Aye, very good idea. Would love to see a clear/smaller navigation and a more focused content, the old  navigation and content are a bit complicated to focus on, IMHO.
Dunno yet if I like getting rid of the logo colors, sure it looks nice in white but I like the colors a lot.

Yeah nice, do it :+1:
Would love to help/contribute, too

[2016-07-19 16:20] HipsterBrown commented on #312
I absolutely love the current Hood.ie design but understand and appreciate the goal of simplifying the overall content, discovery, and user experience as the entry point for most folks to learn about the Hoodie project.

Super :+1:

Also really ❤️ this. I liked the `hoodie-css` idea and still believe there can be reusable utility classes, as exemplified by [Tachyons](http://tachyons.io) and [Bassc

[2016-07-19 17:28] gr2m commented on #312
this is great, thanks for the RFC @espy!

Maintainability and easy for contribution is something that we care a lot about, happy to help with that in any way I can

[2016-07-20 08:50] espy commented on #312
@HipsterBrown Great examples, and that's basically what I mean by single-column, not an actual single layout column, but only one really meaningful item of content at any given vertical level. Not too many things next to each other.

The Atom header is very close to what I'd like. Logo, description, video button, code example, interesting background. Bam.

[2016-07-20 21:49] jameswestnz commented on #312
Sounds good to me!

Ditching translations is an interesting one - although I understand the complexity, could we find a way to make it so translated versions of the sites could be add via contribution? I know this makes updates hard - if the english version get's updated, it's hard to justify keeping an outdated version of the site in another language...

I myself only speak/read english, but I ha

[2016-07-21 00:20] jennwrites commented on #312
From an editorial perspective I think this is a fantastic idea, and I've just been nodding along as I've seen these responses come through. Huge fan of simplifying things and making the ideas presented on the site much clearer.

I reviewed @HipsterBrown’s recommended sites and the Electron one stood out the most to me. I think we have some great visuals and could do a lot with some strategically p

[2016-08-03 17:34] PDXIII opened #315 "Waiting for CouchDB [---*--] FAILED"
Hello, I just wanted to try out Hood.ie but I can’t get it running. After I type in `hoodie start` it tries to connect to CouchDB, but this ends with a timeout.

Fun fact: I can connect with CouchDB via Futon.

What do I missing?
I am on a Macbook Pro running El Capitan.
This is what the console says:

[code]

And this is written in couch.stdout

[code]

Thank you for your attention!

[2016-08-03 17:52] PDXIII commented on #315
Okay! I installed it in another directory and it runs. But what causes the error? Is it because SEAFILE is a cloud service?

[2016-08-03 18:53] gr2m commented on #315
I’m just guessing, but maybe it has something to do with the spaces in the path? `Design - Open Files`

By the way it looks like you are using the old Hoodie version, but we have a new one just around the corner. It’s a bit confusing during the transition time as both are mentioned on our website. You can check out the new version at https://github.com/hoodiehq/hoodie and and example app using it

[2016-08-30 17:22] gr2m commented on #312
nice example we could learn from to visualize what Hoodie does / how it works / benefits https://www.talater.com/upup/

[2016-09-05 20:07] espy commented on #312
Just had another look around, and I'm also quite taken by [craftcms.com](https://craftcms.com/):

<img width="1280" alt="bildschirmfoto 2016-09-05 um 22 03 15" src="https://cloud.githubusercontent.com/assets/391124/18256377/fed45418-73b4-11e6-8c7a-5b15a937fe27.png">

Clean, warm, nice.

[2016-09-09 15:59] gr2m commented on #315
I’m closing the issue due to inactivity, please let me know if you have any further questions

[2016-09-09 15:59] #315 closed, assigned to nobody

[2016-09-09 16:28] titay2 opened #325 "Second Blog post"
https://docs.google.com/document/d/1nID2y5hVTwOrYzTgh8SP07YBtGXUe-yaG-IYVu82uto/edit

[2016-09-09 17:23] jennwrites commented on #325
Is this ready for review? I opened it and it looked like you were still working @titay2

[2016-09-09 20:16] gr2m commented on #312
awwwman one day I dream to have something like this for Hoodie: https://auth0.com/docs/quickstart/spa

[2016-09-12 05:09] titay2 commented on #325
I will finish it by today and I will let you know @renrutnnej

[2016-09-12 07:09] titay2 commented on #325
@renrutnnej  its done now :)

[2016-09-12 07:59] flyjwayur commented on #325
@renrutnnej @titay2 It's going be to ready soon :) I'm editing our blog post and visualizing what we've done to our blog post now. I'll finish before tomorrow.

[2016-09-12 15:33] jennwrites opened #326 "Headline not showing up on events page"
### 🐛 The bug:

I noticed a bug while looking at the upcoming events for Hoodies (on http://hood.ie/events/). It seems like the closest event to the present loses its header in the active field.

![events bug](https://cldup.com/_1AMkFo6ra.png)

I imagine this requires taking a look at https://github.com/hoodiehq/hoodie-css but I'm not sure what else is needed to fix it.

[2016-09-12 17:59] gr2m commented on #326
problem is the header & background color are the same :) I’m looking into it

[2016-09-12 18:01] #326 closed, assigned to nobody

[2016-09-13 20:10] flyjwayur commented on #325
@renrutnnej  @titay2 @gr2m
Hey, we just finish writing our 2nd blog post :) If there is anything we need to edit, please feel free to let us know. We are happy to listen opinions/advice. Thank you so much :D

[2016-09-13 20:57] jennwrites commented on #325
Awesome! Thanks @flyjwayur and @titay2, I'll take a look soon!

[2016-09-28 00:17] hollenberry opened #329 "Slack Invite Server Error"
Hey Hoodies!

I was super excited to discover you on #Hacktoberfest, and started digging in to learn more about you 😄

Unfortunately, it looks like there might be an issue with Slack invitations, as seen here:

<img width="1861" alt="screen shot 2016-09-27 at 5 12 29 pm" src="https://cloud.githubusercontent.com/assets/13326548/18896353/f412a1ec-84d5-11e6-8f5c-5ab127186d14.png">

I'm running Chrome

[2016-09-28 00:30] machikoyasuda commented on #329
This is one of the best issues I have seen written lately :) I love the screenshots of the error. Thank you @hollenberry for making this issue so easy to understand and replicate. I got the same 503 error too: https://www.dropbox.com/s/ue9ec390m52wn2h/Screenshot%202016-09-27%2017.29.03.png?dl=0 `XMLHttpRequest cannot load https://hoodie-slack.herokuapp.com/invite. Response to preflight request doe

[2016-09-28 17:45] gr2m commented on #329
Thanks @hollenberry, we could reproduce the issue, problem is that the slack invite form needs an app which is running on Heroku, and we run out of quota :( @janl will move it to another server tomorrow to fix it for good.

Until then, can you tell me your email address, and I will add you to slack? You can also dm me on twitter, my direct messages are open: https://twitter.com/gr2m

[2016-09-29 09:22] verpixelt commented on #312
Yes to all of it! Especially the technical part has to be much much easier/cleaner to enable ppl to contribute. Also simplifying the design and content flow is an A++ decision.

[2016-10-01 22:43] kouryuu commented on #312
This sounds amazing!

I believe we have to focus on four different types of users:
- Users who have never used hoodie before and would like to know what hoodie is about.
- Users who are looking to contribute/help the hoodie project.
- Users that already use hoodie and are looking for docs and things related to hoodie development.
- Power Users that use hoodie in big projects and would like to give

[2016-10-03 03:02] tsriram commented on #194
Are you still looking at getting this done? I can try helping :)

[2016-10-03 06:51] varjmes commented on #194
@tsriram absolutely!

[2016-10-03 07:54] tsriram commented on #194
Cool. Should I be adding this as a grunt task and make it run in `default`,  `watch` & `build`? Or would you prefer an npm script?

[2016-10-03 20:33] gr2m commented on #194
@tsriram I think an npm script would be better. We will start soon on re-doing our website (#312), and npm script will be simpler to migrate :) Thanks a lot for looking into it 👍

[2016-10-04 04:22] tsriram commented on #194
@gr2m great. One more clarification - the npm script should run all markdown files in _posts through alex.js and report, right?

[2016-10-04 04:42] varjmes commented on #194
@gr2m what do you think? I think it should be run on all files in the site, not just .md's?

[2016-10-04 08:48] tsriram commented on #194
@gr2m @Charlotteis have created a WIP PR #333. Please take a look and comment.

[2016-10-05 06:53] espy commented on #312
Also this time, I'd like to keep a11y in mind from day one. This might help a bit: https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?hl=en

[2016-10-09 22:18] #194 closed, assigned to nobody

[2016-11-01 19:01] chrisdemars commented on #296
Is anyone looking in to this issue?

[2016-11-01 21:36] gr2m commented on #296
nope, take it away if you like :) but note that we have #312 coming up which will be a redesign. But doing some research about this issue might be helpful either way

[2016-11-02 10:57] chrisdemars commented on #296
Awesome

On Tue, Nov 1, 2016 at 5:36 PM, Gregor Martynus notifications@github.com
wrote:

[2016-11-11 14:39] espy commented on #312
What's been missing in the past was also `this type of inline code highlighting`, and I just found another really nice instance of it on http://mojs.io/tutorials/shape/

![bildschirmfoto 2016-11-11 um 15 32 09](https://cloud.githubusercontent.com/assets/391124/20218439/f33b7ccc-a824-11e6-9c70-ae545073e112.png)

[2016-12-12 21:13] hollenberry commented on #329
Hey there! Closing this out because it looks like you've got Slack working!

[2016-12-12 21:13] #329 closed, assigned to nobody

[2017-01-09 00:27] quangv opened #344 "Top-Right Nav Hamburger unclickable"
between width 1024-1280 on Chrome, the top-right hamburger is unclickable and the menu is not yet visible...

[2017-02-22 17:32] gr2m commented on #312
@fredguth suggested to have a look at http://horizon.io for inspiration in terms of clarity of their message

![image](https://cloud.githubusercontent.com/assets/39992/23224092/d3b50054-f8e1-11e6-8beb-2750eb566091.png)

[2017-02-24 01:42] fredguth commented on #312
Based on the benchmarks (Ember.js, Horizon.io, PouchDB), I started this mockup.

![hoodie](https://cloud.githubusercontent.com/assets/392879/23287040/b9c61fdc-fa19-11e6-8e78-ccca2ee9721a.png)

Would be something like this?  What should be the call to action?

I really liked the talater.com/upup example, though.  I just think the animation is way too long.

[2017-02-24 01:50] gr2m commented on #312
we also had some discussion on the slogan in slack, here is a log:
https://gist.github.com/1b7f8f399a806042b810a148a5c5bf9f

[2017-02-24 14:48] dristibutola commented on #230
Hi !! I would like to work on this issue.Secondly for edit button do , i need to create it for just the main page [hoodie.ie](url) or for its other dependent pages as well.
Thanks

[2017-02-24 19:11] gr2m commented on #230
I think you could add the edit button to the header*.html files here: https://github.com/hoodiehq/hood.ie/tree/gh-pages/_includes

Note that the setup is currently quite complicated with CSS being served from another place. We hope to clean this all up soon via #312. But feel free to give it a try :)

[2017-02-24 20:28] May-8 commented on #238
I would like to work on this.

[2017-02-25 00:55] gr2m commented on #238
okay all yours :)

[2017-03-28 02:52] RichardLitt opened #346 "Add license to this repository"
This currently isn't licensed! Oh no! Can I use it?

[2017-03-28 05:06] gr2m commented on #346
lol Richard, this website code is such a mess :D The website footer says

Does that help already? For the website source code we should add an Apache 2.0 license, feel free to send a pull request copying a LICENSE file from one of the other repos

[2017-03-28 14:26] RichardLitt commented on #346
That doesn't actually say what the site is licensed under; that mentions the hood.ie project, which I assume is the code in the main repo, and the assets, but not the code.

Will copy a file. One second.

[2017-03-28 15:03] #346 closed, assigned to nobody

[2017-05-24 09:08] espy commented on #312
A couple of things have happened! There’s been progress, some new ideas, and the basics of the new design and site now exist, but are not quite ready for collaborative work yet, sorry. Still got a few foundations to set up. In all these things, I’m happy to get feedback. The thread so far has been really useful.

## 1. Monorepo ideas

Gregor had a great idea the other day which solves our massive

[2017-05-24 09:52] verpixelt commented on #312
Thanks for the update and the work you've put into this so far :) A question that popped into my head right away was, why using a preprocessor for CSS at all? I assume we don't run any super fancy calculations, Mixins or even functions in Scss for that page. With a developer focused product using CSS goodies like custom-properties shouldn't be an issue in terms of browser support. I'm only  bringi

[2017-05-24 09:58] espy commented on #312
Uh, that sounds interesting. For context, what I’m doing is using colour vars, includes and a `theme`  mixin for the colour schemes, plus this:

[code]

Which I think might be too much for current CSS, but I’m having a hard time keeping up 😄 . What do you think?

[2017-05-24 10:27] NickColley commented on #312
It'd be interesting to approach the project as standard CSS

[code]

[2017-05-24 12:49] verpixelt commented on #312
Iterating over the themes won't be possible with plain CSS. The variables in general, yep: http://caniuse.com/#feat=css-variables even without using any postCSS plugins the support is pretty decent + u can add a fallback color. If the displayed code example is the only instance you're currently using stuff like that I'd recommend reconsidering the importance of it and how big of an effort it would

[2017-05-24 12:51] NickColley commented on #312
@verpixelt you wouldnt need to iterate at all since you could define theming variables at runtime I guess

[2017-05-26 21:07] gr2m commented on #312
I’m very much in favor to remove the preprocessor if possible 👍

I also don’t keep up with CSS development right now, but if say Chrome has native support for all the CSS features we need while other browsers need polyfills, we could have a `postCSS` build step as part of the deploy maybe?

[2017-05-26 21:10] gr2m commented on #312
regarding the monorepo: I think we ended up leaning towards using sub-domains and using a different layout than the main page for "project" pages of which the blog could be one, but also the "Hoodie & Friends" page or the community dashboard.

The problem with the main website being the `hoodiehq.github.io` repo and then have a repo for `blog` is that both would need to share the same CSS, it shou

[2017-05-29 20:03] parallaxeffect opened #348 ""Report a Bug" links to lapsed domain (issuetemplate.com)"
The link on http://hood.ie/bug/ under step 2 links to issuetemplate.com which has no content.

[2017-07-15 10:32] verpixelt commented on #312
Putting the core styles into an asset repo could do the trick. Load that repo into main page / blog and have the site specific CSS/assets inside the respective repo. We did something similar for CSSconf 2017, if I recall correctly. But I see your question is almost 2 months old so you might have already found a solution. In general if you need some help or another pair of eyes, ping me any time.

[2017-10-21 07:44] therohitramesh opened #351 "Cursor behaves as pointer over entire header"
The cursor behaves as a pointer over the entire header though the entire header is not a hyperlink.

[2017-10-21 07:44] therohitramesh commented on #351
I would like to work on it.

[2017-10-21 20:03] #351 closed, assigned to nobody

[2018-02-15 19:00] forivall opened #353 "links to plugins.hood.ie - to remove or not?"
There's a link to plugins.hood.ie at https://github.com/hoodiehq/hood.ie/blob/63eaaa8/intro/index.html?ts=2#L29 ; but i notice it was removed from the footer here: https://github.com/hoodiehq/hood.ie/pull/232/files#diff-7693eb643e8fe8b8d46b407909b408ceL20

I'm guessing that the plugins site was more work than worth it to maintain or whatever?

Instead of just removing the links, i'd consider chang

[2018-02-15 19:01] gr2m commented on #353
good idea, could you send a pull request for it?

[2018-09-03 13:38] #309 closed, assigned to nobody

[2018-12-11 12:58] fozy81 opened #356 "sub-nav menu not displaying correctly in firefox"
sub-nav looks obscured on firefox 63. Looks fine on chrome. Not sure if there's an issue with firefox or issue with css? :man_shrugging:

![screenshot from 2018-12-11 11-39-17](https://user-images.githubusercontent.com/2878163/49802037-bec4ba00-fd43-11e8-9582-2bdcb2d6f012.png)

[2019-03-24 07:44] theNaut1lus opened #357 "Bug: Grammatical Error and Possible Typo in Get-Started section"
URL : http://hood.ie/intro/#get-started

<img width="644" alt="Screenshot 2019-03-24 at 1 08 26 PM" src="https://user-images.githubusercontent.com/35738138/54876490-b72eaa00-4e36-11e9-8f76-5a2f842933dc.png">

the line `you who build something...` should be read as `you who builds something on it, don't have to worry about backends`

so basically change `build` -> `builds` and add a comma before `d

[2019-03-24 16:34] gr2m commented on #357
Sounds good to me 👍 It's been a long time since I worked on the website, but I think the change should be as simple as directly edit content files :)

[2019-03-24 17:26] theNaut1lus commented on #357
Please review @gr2m

[2019-03-25 16:55] #357 closed, assigned to nobody

[2019-04-20 06:26] theNaut1lus opened #359 "Website gives Console Error regarding a viewport argument"
On loading the website, the console gives an error stating that an illegal viewport argument is given to the meta tag.
something along the lines of `minimal-ui`

<img width="1278" alt="Screenshot 2019-04-20 at 11 52 59 AM" src="https://user-images.githubusercontent.com/35738138/56453651-32ff1200-6363-11e9-8d31-b331bf5d5764.png">
<img width="716" alt="Screenshot 2019-04-20 at 11 53 12 AM" src="http

[2019-04-21 02:54] gr2m commented on #359
I have no idea :) maybe check out the history for that particular line and find out who added it?

[2019-10-18 20:21] trosel opened #360 "Website isn't secure? No https"
![image](https://user-images.githubusercontent.com/1299322/67125685-62cc8c80-f1c3-11e9-8f90-39ed0a1ebe17.png)

[2019-10-18 21:07] gr2m commented on #360
🤷‍♂ we never got around to setup https for it. But there is also no sensitive information that you would upload on that website. It would still be nice to have, but someone gotta do it, and I don't know how myself

[2019-10-19 13:19] trosel commented on #360
@gr2m

Because of this, the easiest way would be to move the hosting to Github Pages. Then link your domain to it https://help.github.com/en/articles/configuring-a-custom-domain-for-your-github-pages-site

[2019-10-19 16:56] gr2m commented on #360
@janl can you set that up? I think you have control over the hood.ie domain?